{% block form_start %}
	<form name="review" method="POST">
{% endblock %}

{% block form_row %}
	<div class="row review-container">
		<div class="col-4">
			<label for="{{ id }}">Visa :</label>
		</div>
		<div class="col-6">
			<select id="{{ id }}" name="{{ full_name }}" class="form-control form-control-sm">
                {% for group_label, choice in choices %}
    				<option value="{{ choice.value }}"{% if not render_preferred_choices|default(false) and choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
                {% endfor %}
			</select>
		</div>
	</div>
{% endblock %}