
{% block various_entity_row %}
	{{ form_row(form, {'row_attr': row_attr}) }}
{% endblock %}

{% block various_entity_label %}
	<div class="col-3">
		{{ form_label(form, null, {'label_attr': label_attr}) }}
	</div>
{% endblock %}

{% block various_entity_widget %}
	<div class="col-8">
		{% if form.switch is defined %}
			<div class="{{ group_attr.class }}" {{ stimulus_controller('various') }}>
				{{ form_widget(form.input, {'attr': attr|merge({'data-various-target': 'input'})}) }}
				<input type="text" class="form-control" placeholder="" aria-label="Various text input" value="{% trans %}Various{% endtrans %}" disabled=""
					{{ stimulus_target('various', 'variousInput') }}>
				<div class="input-group-text">
					{{ form_widget(form.switch, {'attr': form.switch.vars.attr|merge({'data-various-target': 'switch'})}) }}
				</div>
			</div>
		{% else %}
			{{ form_widget(form.input) }}
		{% endif %}
	</div>
	
{% endblock %}