{% extends 'layout.html.twig' %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
			<li class="nav-item" style="{{ block('nav_item') }}">
				<a class="nav-link" href={{ path('home') }}>{% trans %}Home{% endtrans %}</a>
			</li>
			<li class="nav-item" style="{{ block('nav_item') }}">
				<a class="nav-link" href={{ path('project') }}>{% trans %}Projects{% endtrans %}</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
    			<li class="nav-item dropdown" style="{{ block('nav_item') }}">
    				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Admin{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href="{{ path('project_new') }}">{% trans %}New project{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('company') }}">{% trans %}Company{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('user') }}">{% trans %}User{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('profil') }}">{% trans %}Profil{% endtrans %}</a>
                        <a class="dropdown-item" href="{{ path('log') }}">{% trans %}Log{% endtrans %}</a>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active" style="{{ block('nav_item') }}">
				<a class="nav-link" href="{{ path('account') }}">{% trans %}Account{% endtrans %}</a>
			</li>
			<li class="nav-item dropdown" style="{{ block('nav_item') }}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}GPExe{% endtrans %}</a>
				<div class="dropdown-menu" style="{{ block('nav_item') }}">
					<a class="dropdown-item" href="https://github.com/ElMulot/gpexe/wiki" target="_blank">{% trans %}Wiki{% endtrans %}</a>
					<a class="dropdown-item" href="https://github.com/ElMulot/gpexe/issues" target="_blank">{% trans %}Report bug{% endtrans %}</a>
					<a class="dropdown-item" href="{{ path('about') }}">{% trans %}About{% endtrans %}</a>
				</div
			</li>
			<li class="nav-item" style="{{ block('nav_item') }}">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="jumbotron col-xl-5">
    	{%  if user is defined  %}
    		<p>{% trans %}User Name{% endtrans %} : {{ user.name }}</p><br/>
    		<p>{% trans %}Email{% endtrans %} : {{ user.email }}</p><br/>
    		<p>{% trans %}Profil{% endtrans %} : {{ user.profil.name }}</p><br/>
    		<p>{% trans %}Last connected{% endtrans %} : {{ user.lastConnected|date('d-m-Y h:m:s') }}</p><br/>
    	{% endif %}
    	<div class="row mt-5">
    		<div class="col-6 text-right">
    			<a class="btn btn-secondary text-light w-100" role="button" href="{{ path('edit_account') }}">{% trans %}Edit account properties{% endtrans %}</a>
    		</div>
    		<div class="col-6 text-left">
    			<a class="btn btn-secondary text-light w-100" role="button" href="{{ path('change_password') }}">{% trans %}Change password{% endtrans %}</a>
    		</div>
    	</div>
	</div>
{% endblock %}