{% if form is defined %}

	{% form_theme form 'ajax/layout.html.twig' %}
	
	{{ form_start(form, { 'attr': {'data-toggle': 'ajax', 'data-url': app.request.uri}}) }}
	{% for child in form %}
		{{ form_widget(child) }}
	{% endfor %}
	{{ form_end(form) }}

{% else %}
	
	{% if type is constant('App\\Entity\\Metadata::LINK') %}
		{% if property is empty  %}
			{% trans %}n/a{% endtrans %}
		{% else %}
			<a class="btn btn-sm btn-primary text-nowrap" href="{{ property|to_string }}" target="_blank" rel="noopener noreferrer">{% trans %}Click here{% endtrans %}</a>
		{% endif %}
	{% elseif type is constant('App\\Entity\\Metadata::BOOLEAN') %}
		{% if property is empty  %}
			{% trans %}No{% endtrans %}
		{% else %}
			{% trans %}Yes{% endtrans %}
		{% endif %}
	{% else %}
		{{ property|to_string }}
	{% endif %}

{% endif %}