
{% set prod_delayed  = prod_alerts|filter(v => v.min < 0) %}
{% set prod_danger   = prod_alerts|filter(v => v.min < project.prodDangerLimit and v <=0) %}
{% set prod_warning  = prod_alerts|filter(v => v.min >= project.prodDangerLimit and v.min < project.prodWarningLimit) %}
{% set prod_info     = prod_alerts|filter(v => v.min >= project.prodWarningLimit) %}
{% set check_danger  = check_alerts|filter(v => v.max > project.checkWarningLimit) %}
{% set check_warning = check_alerts|filter(v => v.max <= project.checkWarningLimit and v.max > 0) %}
{% set check_info    = check_alerts|filter(v => v.max <= 0) %}

{% if prod_danger %}
	<div class="alert alert-danger">
		<p class="m-0">
			{% trans %}Some documents to be produced are very late:{% endtrans %} 
			{% for alert in prod_danger %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('document', {'project': project.id, 'type': serie.type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</a>
			{% endfor %}
		</p>
	</div>
{% endif %}
{% if prod_warning %}
	<div class="alert alert-warning">
		<p class="m-0">
			{% trans %}Some documents to be produced are late:{% endtrans %} 
			{% for alert in prod_warning %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('document', {'project': project.id, 'type': serie.type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</a> 
			{% endfor %}
		</p>
	</div>
{% endif %}
{% if prod_info %}
	<div class="alert alert-info">
		<p class="m-0">
			{% trans %}Some documents must be produce in the next 15 days:{% endtrans %} 
			{% for alert in prod_info %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('document', {'project': project.id, 'type': type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</a> 
			{% endfor %}
		</p>
	</div>
{% endif %}
{% if check_danger %}
	<div class="alert alert-danger">
		<p class="m-0">
			{% trans %}Some documents to be checked are very late:{% endtrans %} 
			{% for alert in check_danger %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('document', {'project': project.id, 'type': type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</a>
			{% endfor %}
		</p>
	</div>
{% endif %}
{% if check_warning %}
	<div class="alert alert-warning">
		<p class="m-0">
			{% trans %}Some documents to be checked are late:{% endtrans %} 
			{% for alert in check_warning %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<a class="btn btn-sm btn-primary text-decoration-none" href="{{ path('document', {'project': project.id, 'type': type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</a> 
			{% endfor %}
		</p>
	</div>
{% endif %}
{% if check_info %}
	<div class="alert alert-info">
		<p class="m-0">
			{% trans %}Some documents must be checked in the next 15 days:{% endtrans %} 
			{% for alert in check_info %}
				{% set type = (alert.companyType is constant('App\\Entity\\Company::MAIN_CONTRACTOR'))?'mdr':'sdr' %}
				<button type="button" class="btn btn-sm btn-primary" href="{{ path('document', {'project': project.id, 'type': type, 'serie': alert.serieId}) }}">
					{{ alert.serieName }} <span class="badge badge-light">{{ alert.count }}</span>
				</button> 
			{% endfor %}
		</p>
	</div>
{% endif %}

{% if prod_danger is empty and prod_warning is empty and prod_info is empty and check_danger is empty and check_warning is empty and check_info is empty %}
	<p class="m-0">
		{% trans %}Nothing to do on this project{% endtrans %}.
	</p>
{% endif %}
