{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
	{{ parent() }}
{% endblock %}

{% block nav %}
	{{ include('nav/_home.html.twig') }}
{% endblock %}

{% block content %}
	<div class="container-lg">
		<ul class="nav nav-tabs" data-controller="nav">
			{% for project in projects %}
				<li class="nav-item">
					<a class="nav-link{{ (project == projects|first)?" active" }}" data-turbo-frame="project_detail" href="{{ path('alert', {'project': project.id}) }}"{% if project == projects|first %} aria-current="page"{% endif %}>
						{{ project.name }}
					</a>
				</li>
			{% endfor %}
			{% for project in projects %}
				<li class="nav-item">
					<a class="nav-link" data-turbo-frame="project_detail" href="{{ path('alert', {'project': project.id}) }}">
						{{ project.name }}
					</a>
				</li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			<turbo-frame id="project_detail">

			</turbo-frame>

		</div>

	</div>
{% endblock %}

{% block footer %}
	
{% endblock %}

{# <div class="navbar-collapse">
	<ul class="navbar-nav mr-auto ">
		<li class="nav-item active" style="{{ block('nav_item') }}">
			<a class="nav-link" href={{ path('home') }}>
				{% trans %}
				Home
				{% endtrans %}
			</a>
		</li>
		<li class="nav-item" style="{{ block('nav_item') }}">
			<a class="nav-link" href={{ path('project') }}>
				{% trans %}
				Projects
				{% endtrans %}
			</a>
		</li>
		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item dropdown" style="{{ block('nav_item') }}">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{% trans %}
					Admin
					{% endtrans %}
				</a>
				<div class="dropdown-menu" style="{{ block('nav_item') }}">
					<a class="dropdown-item" href="{{ path('project_new') }}">
						{% trans %}
						New project
						{% endtrans %}
					</a>
					<a class="dropdown-item" href="{{ path('company') }}">
						{% trans %}
						Company
						{% endtrans %}
					</a>
					<a class="dropdown-item" href="{{ path('user') }}">
						{% trans %}
						User
						{% endtrans %}
					</a>
					<a class="dropdown-item" href="{{ path('profil') }}">
						{% trans %}
						Profil
						{% endtrans %}
					</a>
					<a class="dropdown-item" href="{{ path('log') }}">
						{% trans %}
						Log
						{% endtrans %}
					</a>
				</div>
			</li>
		{% endif %}
	</ul>
</div>
<div class="navbar-collapse "></div>
<div class="navbar-collapse">
	<ul class="navbar-nav ml-auto">
		<li class="nav-item" style="{{ block('nav_item') }}">
			<a class="nav-link" href="{{ path('account') }}">
				{% trans %}
				Account
				{% endtrans %}
			</a>
		</li>
		<li class="nav-item dropdown" style="{{ block('nav_item') }}">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{% trans %}
				GPExe
				{% endtrans %}
			</a>
			<div class="dropdown-menu" style="{{ block('nav_item') }}">
				<a class="dropdown-item" href="https://github.com/ElMulot/gpexe/wiki" target="_blank">
					{% trans %}
					Wiki
					{% endtrans %}
				</a>
				<a class="dropdown-item" href="https://github.com/ElMulot/gpexe/issues" target="_blank">
					{% trans %}
					Report bug
					{% endtrans %}
				</a>
				<a class="dropdown-item" href="{{ path('about') }}">
					{% trans %}
					About
					{% endtrans %}
				</a>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
					<a class="dropdown-item" href="{{ path('test') }}">
						Test
					</a>
				{% endif %}
			</div>
		</li>
		{{ block('logout') }}
	</ul>
</div> #}
