{% for item in items %}
	<tr>
		<td>
		</td>
		{% for field in fields %}
			{% if field.id in query.display|keys and field.display.thead is same as(true) %}
				{% if field.id == 'version_name' %}
					<td style="text-align: center;">
						{{ (item[field.id] ?? '') }}
					</td>
				{% elseif field.type == 'BOOL'|enum_constant('metadata_type_enum') %}
					<td style="text-align: center;">
						{{ ((item[field.id] ?? false) == 1?'Yes':'No')|trans }}
					</td>
				{% elseif field.type == 'DATE'|enum_constant('metadata_type_enum') or field.type == 'LIST'|enum_constant('metadata_type_enum') %}
					<td style="text-align: center;">
						{{ (item[field.id] ?? '') }}
					</td>
				{% else %}
					<td>
						{{ (item[field.id] ?? '') }}
					</td>
				{% endif %}
			{% endif %}
		{% endfor %}
		<td>
			<a class="btn btn-sm btn-success mx-1 w-100" href="{{ path('version_detail', {'version': item.version_id }) }}" data-turbo-frame="xl_modal">{% trans %}Details{% endtrans %}</a>
		</td>
	</tr>
{% endfor %}