<turbo-frame id="review_detail">

	<div class="row">
		
		<form id="form" method="POST" action="{{ app.request.uri }}"{% if app.request.headers.has('Turbo-Stream-Replace') is same as (true) %} data-turbo-stream-replace="{{ app.request.headers.get('Turbo-Stream-Replace') }}"{% endif %}>
			{% if entities|length == 1 %}
				<p>{{ ('confirm.' ~ entities|first|short_name)|trans({'count':entities|length}) }} : {{ entities|first }}</p>
			{% else %}
				<p>{{ ('confirm.' ~ entities|first|short_name)|trans({'count':entities|length}) }} :</p>
				{% for entity in entities %}
					<li>{{ entity }}</li>
				{% endfor %}
			{% endif %}
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
		</form>

		<div class="d-flex justify-content-center">
			<a class="btn btn-sm btn-secondary btn-width m-1" href="{{ path('review_detail', {'version': version.id, 'company': company.id}) }}">{% trans %}Cancel{% endtrans %}</a>
			<button type="submit" form="form" class="btn btn-sm btn-primary btn-width m-1">{% trans %}Delete{% endtrans %}</button>
		</div>
	</div>

</turbo-frame>