<turbo-frame id="review_detail">
	{% if review %}
		<div class="row">
			<p class="col text-truncate">
				{% trans %}Visa{% endtrans %} : 
				<span class="font-weight-bold {% if review.visa.revisionRequired %}text-info{% else %}text-success{% endif %} me-5">
					{{ review.visa.name }}
				</span>
				{% trans %}On{% endtrans %} {{ review.date|date('d-m-Y') }} {% trans %}by{% endtrans %} {{ review.user.name }}
			</p>
			{% if company == app.user.company or is_granted('ROLE_ADMIN') %}
				<div class="col-12 d-flex justify-content-center">
					<a class="btn btn-sm btn-success btn-width m-1" data-turbo-frame="review_detail" href="{{ path('review_edit', {'review': review.id}) }}">{% trans %}Edit{% endtrans %}</a>
					<a class="btn btn-sm btn-danger btn-width m-1" data-turbo-frame="review_detail" href="{{ path('review_delete', {'review': review.id}) }}">{% trans %}Delete{% endtrans %}</a>
				</div>
			{% endif %}
		</div>
	{% else %}
		<div class="row">
			<p class="col-12 text-center">
				{% trans %}No visa yet{% endtrans %}
			</p>
			{% if company == app.user.company or is_granted('ROLE_ADMIN') %}
				<div class="d-flex justify-content-center">
					<a class="btn btn-sm btn-primary btn-width" data-turbo-frame="_self" href="{{ path('review_new', {'version': version.id, 'company': company.id}) }}">{% trans %}New{% endtrans %}</a>
				</div>
			{% endif %}
		</div>
	{% endif %}
</turbo-frame>