{% extends 'layout.html.twig' %}
{% import "macros/_nav.html.twig" as nav %}

{% block stylesheets %}
	{{ encore_entry_link_tags('main') }}
	{{ parent() }}
{% endblock %}

{% block navbar %}
	{{ include('navbar/_main.html.twig') }}
{% endblock %}

{% block content %}
	<div class="container-lg">
		<turbo-frame id="projects">
			<div class="row row-cols-auto">
				{% for project in projects %}
					<div class="col pt-5">
						<div class="card card-width">
							<div class="card-header">{{ project.name }}</div>
							<div class="card-body align-self-center">
								<a class="btn btn-project" href="{{ path('project', {'project': project.id}) }}" target="_top" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ project.name }}">
									{% if project.image is not empty %}
										<img src="{{ asset(uploads_directory ~ '/' ~ project.image) }}" alt="{{ project.name }}">
									{% else %}
										<div></div>
									{% endif %}
								</a>
							</div>
							{% if (is_granted('ROLE_CONTROLLER') and app.user in project.users) or is_granted('ROLE_ADMIN') %}
								<div class="card-body text-end">
									<a class="btn btn-sm btn-success" href="{{ path('project_edit', {'project': project.id}) }}" data-turbo-frame="std_modal" data-turbo-stream-replace="projects">{% trans %}Edit{% endtrans %}</a>
									<a class="btn btn-sm btn-danger" href="{{ path('project_delete', {'project': project.id}) }}" data-turbo-frame="std_modal">{% trans %}Delete{% endtrans %}</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% else %}
					<div class="col">{% trans %}Empty list{% endtrans %}</div>
				{% endfor %}
			</div>
		</turbo-frame>
	</div>
{% endblock %}