{% set title = 'edit.project' %}

{% extends 'modal/xl_modal.html.twig' %}

{% form_theme form 'form/layout.html.twig' %}

{% block modal_body %}

	{{ encore_entry_link_tags('form') }}

	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="main_label" data-bs-toggle="tab" data-bs-target="#main_pannel" type="button" role="tab" aria-controls="main_pannel" aria-selected="true" >{% trans %}Main{% endtrans %}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="limits_label" data-bs-toggle="tab" data-bs-target="#limits_pannel" type="button" role="tab" aria-controls="limits_pannel" aria-selected="false">{% trans %}Warning limits{% endtrans %}</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="misc_label" data-bs-toggle="tab" data-bs-target="#misc_pannel" type="button" role="tab" aria-controls="misc_pannel" aria-selected="false">{% trans %}Miscellaneous{% endtrans %}</a>
		</li>
	</ul>
	
	{% if app.request.headers.has('Turbo-Stream-Replace') is same as (true) %}
		{{ form_start(form, {'attr': {'data-turbo-stream-replace': app.request.headers.get('Turbo-Stream-Replace') }}) }}
	{% else %}
		{{ form_start(form) }}
	{% endif %}
		<div class="tab-content">
			<div class="tab-pane fade show active" id="main_pannel" role="tabpanel" aria-labelledby="main_label">
				{{ form_row(form.name) }}
				{{ form_row(form.image) }}
				{{ form_row(form.splitter) }}
				{{ form_row(form.users) }}
			</div>
			<div class="tab-pane fade" id="limits_pannel" role="tabpanel" aria-labelledby="limits_label">
				{{ form_row(form.prodWarningLimit) }}
				{{ form_row(form.prodDangerLimit) }}
				{{ form_row(form.checkWarningLimit) }}
				{{ form_row(form.checkDangerLimit) }}
			</div>
			<div class="tab-pane fade" id="misc_pannel" role="tabpanel" aria-labelledby="misc_label">
				{{ form_row(form.dateFormat, {
					'help_html': true,
					'help': '<a target="_blank" href="https://www.php.net/manual/datetime.format.php">' ~ 'List of supported characters.'|trans ~ '</a>'
				}) }}
				{{ form_row(form.newVersionTime) }}
			</div>
		</div>
	{{ form_end(form) }}

{% endblock %}

{% block modal_footer %}
	
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
	<button type="submit" form="form" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>

{% endblock %}