<turbo-stream action="append" target="tbody">
	<template>
		{% for item in items %}
			<tr>
				<td>
					<input type="checkbox" class="form-check-input m-2" value="" aria-label="Select this line" data-id={{ item.version_id }}
					{{ stimulus_action('engineering--main', 'lineSelected') }}>
				</td>
				{% for field in fields %}
					{% if field.id in query.display|keys and field.display.thead is same as(true) %}
						{% if field.id == 'version_name' %}
							<td style="text-align: center;">
								{{ (item[field.id] ?? '') }}
							</td>
						{% elseif field.type == 'BOOL'|enum_constant('metadata_type_enum') %}
							<td style="text-align: center;">
								{{ ((item[field.id] ?? false) == 1?'Yes':'No')|trans }}
							</td>
						{% elseif field.type == 'DATE'|enum_constant('metadata_type_enum') or field.type == 'LIST'|enum_constant('metadata_type_enum') %}
							<td style="text-align: center;">
								{{ (item[field.id] ?? '') }}
							</td>
						{% else %}
							<td>
								{{ (item[field.id] ?? '') }}
							</td>
						{% endif %}
					{% endif %}
				{% endfor %}
				<td>
					<a class="btn btn-sm btn-success mx-1 w-100" href="{{ path('documentDetail', {'version': item.version_id }) }}" data-turbo-frame="fs_modal">{% trans %}Details{% endtrans %}</a>
				</td>
			</tr>
		{% endfor %}
	</template>
</turbo-stream>

<turbo-stream action="replace" target="navigation">
	<template>
		<div id="navigation" class="d-flex justify-content-center" {{ stimulus_target('engineering--main', 'navigation') }}>
			<a class="btn btn-sm btn-primary" data-turbo-append="true"
				{% if query.page >= page_max %}style="display: none"{% endif %}
				{{ stimulus_action('engineering--main', 'moreResults') }}>
					{% trans %}Load more results{% endtrans %}
			</a>
			<input type="hidden" value="{{ (query.page < page_max)?query.page:0 }}" {{ stimulus_target('engineering--main', 'lastPageLoaded') }}>
		</div>
	</template>
</turbo-stream>