<turbo-frame id="view_pannel">
	<div class="row p-2" {{ stimulus_controller('view', {'id': selected_view.id}) }}>
		<div class="col px-2">
			{% for view in views %}
				{% set selected = (view == selected_view) %}
				<div class="btn-group btn-width" role="group">
					<button type="button" class="btn" 
						{{ stimulus_target('view', 'button') }} 
						{{ stimulus_action('view', 'update') }} 
						{{ stimulus_param('view', {'id': view.id}) }}>
							{{ view.name }}
					</button>
					{% if is_granted('VIEW_EDIT', view) or is_granted('VIEW_DELETE', view) %}
						<div class="btn-group" role="group">
							<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" 
								{{ stimulus_target('view', 'button') }} {{ stimulus_param('view', {'id': view.id}) }}>
							</button>
							<ul class="dropdown-menu">
								{% if is_granted('VIEW_EDIT', view) %}
									<li>
										<a class="dropdown-item text-success" href="{{ path('view_edit', {'view': view.id}) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="view_pannel">
											{% trans %}Edit{% endtrans %}
										</a>
									</li>
								{% endif %}
								{% if is_granted('VIEW_DELETE', view) %}
									<li>
										<a class="dropdown-item text-danger" href="{{ path('view_delete', {'view': view.id}) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="view_pannel">
											{% trans %}Delete{% endtrans %}
										</a>
									</li>
								{% endif %}
							</ul>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<div class="col-auto">
			<a class="btn btn-primary btn-width" href="" data-turbo-frame="md_modal">
				{% trans %}Export view{% endtrans %}
			</a>
		</div>
		{% if is_granted('VIEW_NEW', project) %}
			<div class="col-auto">
				<a class="btn btn-primary btn-width" href="{{ path('view_new', {'project': project.id }) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="view_pannel">
					{% trans %}new.view{% endtrans %}
				</a>
			</div>
		{% endif %}
	</div>
</turbo-frame>
