{% extends 'modal/std_modal.html.twig' %}

{% block modal_body %}
	<form id="form" method="POST" action="{{ app.request.uri }}">
		{% if entities|length == 1 %}
			<p>{{ ('confirm.' ~ entities|first|short_name)|trans({'count':entities|length}) }} : {{ entities|first }}</p>
		{% else %}
			<p>{{ ('confirm.' ~ entities|first|short_name)|trans({'count':entities|length}) }} :</p>
			{% for entity in entities %}
				<li>{{ entity }}</li>
			{% endfor %}
		{% endif %}
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
	</form>
{% endblock %}

{% block modal_footer %}
	
	<button type="button" class="btn btn-secondary mw-75" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
	<button type="submit" form="form" class="btn btn-danger mw-75">{% trans %}Delete{% endtrans %}</button>

{% endblock %}