{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center p-5 h-100">
		<div class="jumbotron col-7 h-100 d-flex flex-column">
			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="row justify-content-center">
						<div class="alert alert-{{ label }} w-100">{{ message|trans }}.</div>
					</div>
				{% endfor %}
			{% endfor %}
			
			<div class="col overflow-auto">
				{{ block('form') }}
			</div>
			
			{% if route_back is defined %}
				<div class="d-flex mt-5">
					<div class="col-6 text-right">
						<a class="btn-secondary btn w-75" href="{{ route_back }}">{% trans %}Cancel{% endtrans %}</a>
					</div>
					<div class="col-6 text-left">
						<button type="submit" form="form" class="btn-primary btn w-75">{% trans %}Save{% endtrans %}</button>
					</div>
				</div>
			{% else %}
				<div class="row mt-5 justify-content-center">
					<div class="col-6">
						<button type="submit" form="form" class="btn-primary btn w-75">{% trans %}Save{% endtrans %}</button>
					</div>
				</div>
			{% endif %}
			
		</div>
	</div>
{% endblock %}

{% block form %}
	{{ form(form) }}
{% endblock %}