{% extends 'layout.html.twig' %}

{% set entity_name = class|short_name %}
{% set headers = headers(class) %}
{% dump(headers) %}
{% set display_list = false %}
{% for entity in entities %}
	{% if attribute(entity, 'isList') is defined and attribute(entity, 'isList') == "True" %}
		{% set display_list = true %}
	{% endif %}
{% endfor %}
    		
{% block nav %}
    {% if route_back is defined %}
        <div class="navbar-collapse" style="{{ block('nav_item') }}">
        	<ul class="navbar-nav mr-auto ">
        		{% if route_back is defined %}
            		<li class="nav-item" style="{{ block('nav_item') }}">
            			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
            		</li>
            		<li class="nav-item" style="{{ block('nav_item') }}">
            			<a class="nav-link" href="{{ path(entity_name ~ '_new', app.request.attributes.get('_route_params')) }}">{% trans %}New{% endtrans %}</a>
            		</li>
        		{% endif %}
        	</ul>
        </div>
    {% else %}
    	<div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
    {% endif %}
    <div class="navbar-collapse navbar-brand justify-content-center">
        {{ header }}
    </div>
    <div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
{% endblock %}

{% block content %}
    <table class="table">
    	<thead>
    		<tr class="text-center">
    			{% for header in headers %}
    				<th>{{ header|trans }}</th>
    			{% endfor %}
    			{% if display_list %}
    				<th style="width: 10rem;"></th>
    			{%  endif %}
    			<th style="width: 10rem;"></th>
    			<th style="width: 10rem;"></th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for entity in entities %}
        		<tr>
        			{% for key, header in headers %}
            			{% set value = attribute(entity, key) %}
            			{% if value is same as (false) %}
            				<td class="col-auto text-center">{% trans %}False{% endtrans %}</td>
            			{% elseif value is same as (true) %}
            				<td class="col-auto text-center">{% trans %}True{% endtrans %}</td>
            			{% elseif value.timezone is defined and value.nonExistingProperty is not defined %}
            				<td class="col-auto text-center">{{ value|date('d-m-Y') }}</td>
            			{% elseif value matches '/^\\d/' %}
                			<td class="col-auto text-center">{{ value }}</td>
            			{% else %}
            				<td class="col-auto text-left">{{ value|truncate(30, false, "...") }}</td>
            			{% endif %}
        			{% endfor %}
        			{% if display_list %}
    	                {% if attribute(entity, 'isList') is defined and attribute(entity, 'isList') == "True" %}
                			<td>
                			    <a class="btn-secondary btn w-100 text-nowrap" href="{{ path(entity_name ~ '_item', {(entity_name): entity.id}) }}">
                			        {% trans %}List{% endtrans %}
                				</a>
                			</td>
            	        {% else %}
                			<td>
                			</td>
                		{% endif %}
            	    {% endif %}
        			<td>
        				<a class="btn-success btn w-100 text-nowrap" href="{{ path(entity_name ~ '_edit', {(entity_name): entity.id}) }}">
        				    {% trans %}Edit{% endtrans %}
        				</a>
        			</td>
        			<td>
        				<a class="btn-danger btn w-100 text-nowrap" href="{{ path(entity_name ~ '_delete', {(entity_name): entity.id}) }}">
        				    {% trans %}Delete{% endtrans %}
        				</a>
        			</td>
        		</tr>
    		{% else %}
        		<tr>
        			<td>{% trans %}Empty list{% endtrans %}</td>
        		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}

{% block text_alignment %}
    {% if value matches '/True|False|\\[\\]/' or key == 'id' %}
    	text-center text-right
    {% endif %}
{% endblock %}