{% set entity_name = class|short_name %}
{% if title is not defined %}
	{% set title = 'list.' ~ entities|first|short_name %}
{% endif %}

{% if headers is not defined %}
	{% set headers = headers(class) %}
{% endif %}

{% set display_list = false %}
{% for entity in entities %}
	{% if attribute(entity, 'isList') is defined and attribute(entity, 'isList') == "True" %}
		{% set display_list = true %}
	{% endif %}
{% endfor %}

{% extends 'modal/fs_modal.html.twig' %}

{% block modal_body %}

	<table class="table table-hover align-middle">
		<thead>
			<tr class="text-center">
				{% for header in headers %}
					<th>{{ header|title|trans }}</th>
				{% endfor %}
				{% if display_list %}
					<th style="width: 10rem;"></th>
				{%  endif %}
				<th style="width: 10rem;"></th>
				<th style="width: 10rem;"></th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr>
					{% for key, header in headers %}
						{% set value = attribute(entity, header) %}
						{% if header|type(class) == 'boolean' %}
							<td class="col-auto text-center">{{ (value is same as (true)?'True':'False')|trans }}</td>
						{% elseif header|type(class) == 'integer' %}
							<td class="col-auto text-center">{{ value }}</td>
						{% elseif header|type(class) == 'double' %}
							<td class="col-auto text-right">{{ value }}</td>
						{% elseif header|type(class) == 'string' %}
							<td class="col-auto text-left">{{ value|default('')|truncate }}</td>
						{% elseif value.timezone is defined and value.nonExistingProperty is not defined %}
							<td class="col-auto text-center">{{ value|date('d-m-Y') }}</td>
						{% elseif '_enum' in header|type(class) %}
							<td class="col-auto text-left">{{ value|readable_enum(header|type(class))|truncate }}</td>
						{% else %}
							<td class="col-auto text-left">???</td>
						{% endif %}
					{% endfor %}
					{% if display_list %}
						{% if attribute(entity, 'isList') is defined and attribute(entity, 'isList') == "True" %}
							<td>
								<a class="btn-secondary btn w-100 text-nowrap" href="{{ path(entity_name ~ '_item', {(entity_name): entity.id}|merge(app.request.query)) }}">
									{% trans %}List{% endtrans %}
								</a>
							</td>
						{% else %}
							<td>
							</td>
						{% endif %}
					{% endif %}
					<td>
						<a class="btn-success btn w-100 text-nowrap" href="{{ path(entity_name ~ '_edit', {(entity_name): entity.id}|merge(app.request.query)) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="fs_modal">
							{% trans %}Edit{% endtrans %}
						</a>
					</td>
					<td>
						<a class="btn-danger btn w-100 text-nowrap" href="{{ path(entity_name ~ '_delete', {(entity_name): entity.id}|merge(app.request.query)) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="fs_modal">
							{% trans %}Delete{% endtrans %}
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{% trans %}Empty list{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block modal_footer %}

	{% if app.request.headers.has('Turbo-Stream-Replace') is same as(true) %}
		<a class="btn btn-secondary btn-width" {{ stimulus_target('modal', 'close') }} href="{{ path(entity_name, app.request.attributes.get('_route_params')|merge(app.request.query)) }}" data-turbo-frame="{{ app.request.headers.get('Turbo-Stream-Replace') }}">{% trans %}Close{% endtrans %}</a>
	{% else %}
		<button	button type="button" class="btn btn-secondary btn-width" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
	{% endif %}
	<a class="btn btn-primary btn-width" href="{{ path(entity_name ~ '_new', app.request.attributes.get('_route_params')|merge(app.request.query)) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="fs_modal">{% trans %}New{% endtrans %}</a>
	
{% endblock %}
