{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="text-{{ label }}">{{ message }}.</div>
	{% endfor %}
{% endfor %}

{% if redirect == 'preload' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('program_preload', {'program': program.id}) }}" data-target="#output"></a>
{% elseif redirect == 'load' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('program_load', {'program': program.id}) }}" data-target="#output"></a>
{% elseif redirect == 'new_batch' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('program_console', {'program': program.id}) }}" data-target="#console"></a>
{% elseif redirect == 'completed' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('program_completed', {'program': program.id}) }}" data-target="#output"></a>
{% endif %}