{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {% if route_back is defined %}
        <div class="navbar-collapse" style="{{ block('nav_item') }}">
        	<ul class="navbar-nav mr-auto ">
        		{% if route_back is defined %}
            		<li class="nav-item" style="{{ block('nav_item') }}">
            			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
            		</li>
        		{% endif %}
        	</ul>
        </div>
    {% else %}
    	<div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
    {% endif %}
    <div class="navbar-collapse navbar-brand justify-content-center">
    	{{ program.name }}
    </div>
    <div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
{% endblock %}

{% block content %}
    <div class="row w-100 h-100">
        <div id="output" class="col-6">

        </div>
        <div class="col-6 jumbotron pt-1 h-100">
        	<div class="d-flex justify-content-end">
            	<button id="clear" type="button" class="btn btn-sm btn-primary">Effacer</button>
            </div>
            <div id="console" class="py-3 overflow-auto h-100">
            	<a class="active" data-toggle="ajax" data-target="#console" data-url="{{ path('program_console', {'program': program.id}) }}"></a>
            </div>
		</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
    {{ parent() }}
{% endblock %}