{% macro item(label, url) %}
	{% if url is not empty %}
		<li class="nav-item{% if app.request.requestUri == url %} active{% endif %}">
			<a class="nav-link{% if app.request.requestUri == url %} active{% endif %}" href={{ url }}>
				{{ label|trans }}
			</a>
		</li>
	{% endif %}
{% endmacro %}

{% macro dropdown(label, items) %}
	{% set uuid = uuid() %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="{{ uuid }}" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-turbo="false">
			{{ label|trans }}
		</a>
		<div class="dropdown-menu" aria-labelledby="{{ uuid }}">
			{% for item in items %}
				{% if item.href is defined %}
					{% set item = item|merge({'class': item.class|default('') ~ ' dropdown-item'}) %}
				{% else %}
					{% set item = item|merge({'class': item.class|default('') ~ ' dropdown-item disabled pl-2 bg-dark font-weight-bold text-light', 'href': '#'}) %}	
				{% endif %}
				<a{{ block('attributes') }}>
					{{ item.name|trans }}
				</a>
			{% endfor %}
		</div>
	</li>
{% endmacro %}

{% macro title(label) %}
	<div class="nav-title">
		{{ label|trans }}
	</div>
{% endmacro %}

{% macro itemLogout() %}
	{% if is_granted('IS_IMPERSONATOR') %}
		{{ _self.item('Exit impersonation', impersonation_exit_path(path('home'))) }}
	{% else %}
		{{ _self.item('Logout', path('logout')) }}
	{% endif %}
{% endmacro %}

{% block attributes %}
	{% for attrname, attrvalue in item|filter((v, k) => k != 'name') %}
		{{ " " }}
		{% if attrname in ['placeholder', 'title'] %}
			
		{% elseif attrvalue is same as(true) %}
			{{ attrname }}="{{ attrname }}"
		{% elseif attrvalue is not same as(false) %}
			{{ attrname }}="{{ attrvalue }}"
		{% endif %}
	{% endfor %}
{% endblock attributes %}
