{% set width = query.display[field.id] ?? field.default_width %}
{% set filtered = (query.filter[field.id] is defined)?query.filter[field.id]:0 %}
{% set sortedAsc = query.sortAsc is defined and query.sortAsc == field.id %}
{% set sortedDesc = query.sortDesc is defined and query.sortDesc == field.id %}

<th data-responsive
	{{ stimulus_target('engineering--main', 'header') }}
	{{ stimulus_controller('engineering--header', {'id': field.id, 'width': width, 'filtered': filtered == true, 'sortedDesc': sortedDesc, 'sortedAsc': sortedAsc}) }}
	{{ stimulus_class('engineering--header', {'empty': 'bi-funnel', 'fill': 'bi-funnel-fill', 'arrowDown':'bi-arrow-down', 'arrowUp':'bi-arrow-up'}) }}>
	<div class="btn-group w-100" role="group">
		<button type="button" class="btn btn-sm btn-primary rounded-0 w-100 py-2">
			{{ field.title }}
		</button>
		<button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split rounded-0 px-0 py-2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" data-bs-reference="parent" data-bs-offset="0, 0"
			{{ stimulus_target('engineering--header', 'toggle') }}>
		</button>
		<div class="dropdown-menu" {{ stimulus_target('engineering--header', 'menu') }}>
			<div style="width:15rem;"
				{{ stimulus_target('engineering--header', 'component') }}
				{{ stimulus_controller('engineering--header--boolean', { 'id': field.id, 'key': field.key, 'filtered': filtered, 'sortedDesc': sortedDesc, 'sortedAsc':sortedAsc }) }}>
				<div class="d-flex flex-wrap justify-content-center px-3 py-2">
					<button type="button" class="btn btn-sm btn-primary mx-1"
						{{ stimulus_target('engineering--header--boolean', 'sortDesc') }}
						{{ stimulus_action('engineering--header--boolean', 'sortDesc') }}>
						<i class="bi bi-arrow-bar-down"></i>
					</button>
					<button type="button" class="btn btn-sm btn-primary px-3 mx-1" {{ stimulus_action('engineering--header', 'filter') }}>
						{% trans %}Filter{% endtrans %}
					</button>
					<button type="button" class="btn btn-sm btn-primary mx-1"
						{{ stimulus_target('engineering--header--boolean', 'sortAsc') }}
						{{ stimulus_action('engineering--header--boolean', 'sortAsc') }}>
						<i class="bi bi-arrow-bar-up"></i>
					</button>
				</div>
				<div class="dropdown-list border-top border-dark pt-2 px-3">
					{% for value, title in {'0': 'n/a', '1': 'Yes', '2': 'No'} %}
						<div class="form-check">
							<input type="checkbox" class="form-check-input" value="{{ value }}" id="{{ field.id ~ '_' ~ value }}"
								{{ stimulus_target('engineering--header--boolean', 'checkbox') }}
								{{ stimulus_action('engineering--header', 'filter') }}>
							<label for="{{ field.id ~ '_' ~ value }}" class="form-check-label w-100">
								{{ title }}
							</label>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</th>