{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div id="background_img" style="background-image:url('{{ asset(img_name) }}');">
	</div>
	<div id="background_gradient">
	</div>
	<div id="form_content" class="container-fluid mt-5">
		{% if logout is same as(true) %}
			<div class="alert alert-success">{% trans %}Logout successful{% endtrans %}</div>
		{% endif %}
		<form method="POST" action="{{ path('login') }}" >
			{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
			{% endif %}
			
			<label for="username">{% trans %}Email{% endtrans %}</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required autofocus>
			<label for="password">{% trans %}Password{% endtrans %}</label>
			<input type="password" id="password" name="_password" class="form-control" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="mb-3">
				<input type="checkbox" id="remember_me" name="_remember_me" checked/>
				<label for="remember_me">{% trans %}Remember me{% endtrans %}</label>
			</div>
			<div class="d-grid gap-2">
				<button class="btn btn-lg btn-primary" type="submit">
					{% trans %}Ok{% endtrans %}
				</button>
			</div>
		</form>
	</div>
	<div id="credits_content">
		<p class="text-center"><small>v. {{ version }} - {{ date }}</small></p>
	</div>
{% endblock %}