{% form_theme form 'form/layout_ajax.html.twig' %}

{{ form_start(form) }}
    {% for child in form|filter(child => not child.rendered) %}
        {{ form_row(child) }}
    {% endfor %}

    <div class="row justify-content-md-center">
    	<button class="btn btn-sm btn-secondary w-25 m-1" data-toggle="ajax" data-url="{{ path('review', {'id': version.id, 'company': company.id}) }}" data-target="#review_content">{% trans %}Cancel{% endtrans %}</button>
		<button type="submit" class="btn btn-sm btn-primary w-25 m-1" data-toggle="ajax" data-url="{{ app.request.uri }}" data-target="#review_content">{% trans %}Save{% endtrans %}</button>
	</div>
{{ form_end(form) }}