{% if review %}
	<div class="row review-container">
	    <p class="col">
    	    {% trans %}Visa{% endtrans %} : 
    	    <span class="font-weight-bold {% if review.visa.revisionRequired %}text-info{% else %}text-success{% endif %}">
    	        {{ review.visa.name }}
    	    </span>
    		<br>
		    {% trans %}On{% endtrans %} {{ review.date|date('d-m-Y') }} {% trans %}by{% endtrans %} {{ review.user.name }}
		</p>
	</div>
	{% if company == app.user.company or is_granted('ROLE_ADMIN') %}
		<div class="row justify-content-md-center">
			<button class="btn btn-sm btn-success w-25 m-1" data-toggle="ajax" data-url="{{ path('review_edit', {'review': review.id}) }}" data-target="#review_content">{% trans %}Edit{% endtrans %}</button>
			<button class="btn btn-sm btn-danger w-25 m-1" data-toggle="ajax" data-url="{{ path('review_delete', {'review': review.id}) }}" data-target="#review_content">{% trans %}Delete{% endtrans %}</button>
		</div>
	{% endif %}
{% else %}
    <div class="row review-container font-weight-bold">
        <p class="col">
            {% trans %}No visa yet{% endtrans %}
		</p>
	</div>
	{% if company == app.user.company or is_granted('ROLE_ADMIN') %}
		<div class="row justify-content-md-center">
			<button class="btn btn-primary w-50" data-toggle="ajax" data-url="{{ path('review_new', {'version': version.id, 'company': company.id}) }}" data-target="#review_content">{% trans %}New{% endtrans %}</button>
		</div>
	{% endif %}
{% endif %}