{% set title = 'Users' %}
{% set entity_name = class|short_name %}
{% set headers = ['name', 'email', 'company', 'profil', 'locale', 'activated', 'lastConnected'] %}

{% extends 'generic/list.html.twig' %}

{% block modal_body %}

	<table class="table table-hover align-middle">
		<thead>
			<tr class="text-center">
				{% for header in headers %}
					<th>{{ header|title|trans }}</th>
				{% endfor %}
				<th style="width: 10rem;"></th>
				<th style="width: 10rem;"></th>
				<th style="width: 10rem;"></th>
			</tr>
		</thead>
		<tbody>
			{% for entity in entities %}
				<tr>
					{% for key, header in headers %}
						{% set value = attribute(entity, header) %}

						{% if header|type(class) == 'string' %}
							<td class="col-auto text-left">{{ value|default('')|truncate }}</td>
						{% elseif '_enum' in header|type(class) %}
							<td class="col-auto text-left">{{ value|readable_enum(header|type(class))|truncate }}</td>
						{% else %}
							<td class="col-auto text-center">{{ value|to_string('dd-MM-yyyy HH:mm:ss') }}</td>
						{% endif %}
					{% endfor %}
					<td>
						{% if app.user.id != entity.id %}
							<a class="btn-secondary btn w-100 text-nowrap" href="{{ path('home') ~ '?_switch_user=' ~ entity.email }}">
								{% trans %}Switch{% endtrans %}
							</a>
						{% endif %}
					</td>
					<td>
						<a class="btn-success btn w-100 text-nowrap" href="{{ path(entity_name ~ 'Edit', {(entity_name): entity.id}) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="fs_modal">
							{% trans %}Edit{% endtrans %}
						</a>
					</td>
					<td>
						{% if app.user.id != entity.id %}
							<a class="btn-danger btn w-100 text-nowrap" href="{{ path(entity_name ~ 'Delete', {(entity_name): entity.id}) }}" data-turbo-frame="xl_modal" data-turbo-stream-replace="fs_modal">
								{% trans %}Delete{% endtrans %}
							</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{% trans %}Empty list{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}