{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('engineering') }}
	{{ parent() }}
{% endblock %}

{% block title %}Hello TestController!{% endblock %}

{% block content %}

<div>
	
	<div class="d-flex justify-content-center align-items-center" style="height: 400px;">

	{# <turbo-frame id="review_detail" src="{{ path('review_detail', {'version': 2610, 'company': 1}) }}"> #}

	<turbo-frame id="review_detail" src="{{ path('review_edit', {'review': 11177}) }}">
	
	</turbo-frame>

		{# <div class="row w-75">
			{{ form(form) }}
			<button type="submit" form="form" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
		</div>
	</div> #}

</div>



{% endblock %}
