{% extends 'layout.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('engineering') }}
	{{ parent() }}
{% endblock %}

{% block title %}Test{% endblock %}

{% block navbar %}

{% endblock %}

{% block main %}

<div class="d-flex justify-content-center">
	
	{% if app.request.get('s') is iterable and app.request.get('s')|length > 0 %}
		ok
	{% endif %}
	

	<pre>
		{{ dump(app.request.get('s')) }}
	</pre>	
	
	{% if form is defined %}
		{{ form(form) }}
	{% endif %}
</div>
<div class="d-flex justify-content-center">
	{% if test is defined %}
		{# {{ test|to_string }} #}
	{% endif %}
</div>
	






{% endblock %}
