{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
	{{ parent() }}
{% endblock %}

{% block content %}

	<header class="sticky-top">
		{{ block('header') }}
	</header>
	
	<main class="container-fluid d-flex justify-content-center">
		{{ block('main') }}
	</main>
	
	{{ block('fs_modal') }}

	{{ block('fs2_modal') }}

	{{ block('xl_modal') }}

	{{ block('md_modal') }}

	<footer id="footer" class="toast-container position-absolute bottom-0 start-50 translate-middle-x pb-3">
		{{ block('footer') }}
	</footer>

{% endblock %}

{% block header %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarContent" class="collapse navbar-collapse">
				{{ block('navbar') }}
			</div>
		</div>
	</nav>
{% endblock %}

{% block fs_modal %}
	{% include "modal/fs_modal.html.twig" %}
{% endblock %}

{% block fs2_modal %}
	{% include "modal/fs2_modal.html.twig" %}
{% endblock %}

{% block xl_modal %}
	{% include "modal/xl_modal.html.twig" %}
{% endblock %}

{% block md_modal %}
	{% include "modal/md_modal.html.twig" %}
{% endblock %}

{% block footer %}
	{% include "generic/_footer.html.twig" %}
{% endblock %}