<div class="row">
	<div id="menu" class="col-auto d-flex flex-column">
        <div id="version_tabs" class="nav nav-pills mb-auto" aria-orientation="vertical">
        	{% for version in versions %}
                <a class="nav-link w-100 my-1{% if version == current_version %} active{% endif %}" data-toggle="ajax" data-url="{{ path('version_detail', {'id': version.id}) }}" data-target="#version_content">
                    {{ version.name }} 
                    {% if version.isRequired %}
                    	<span class="badge badge-info">{% trans %}to be produced{% endtrans %}</span>
                    {% elseif version.status.isInformation %}
						<span class="badge badge-success">{% trans %}information{% endtrans %}</span>
                    {% elseif version.status.isCancel %}
                    	<span class="badge badge-secondary">{% trans %}cancelled{% endtrans %}</span>
                    {% elseif version.status.isAsBuilt %}
						<span class="badge badge-success">{% trans %}as built{% endtrans %}</span>
					{% endif %}
				</a>
			{% endfor %}
        </div>
        {% if is_granted('ROLE_EDIT') %}
            <div class="align-items-end">
            	<a class="btn btn-primary w-100 text-nowrap my-1" href="{{ path('version_new', {'id': document.id }) }}">{% trans %}New{% endtrans %}</a>
            	<a class="btn btn-primary w-100 text-nowrap my-1" href="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</a>
            	<a class="btn btn-primary w-100 text-nowrap my-1" href="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</a>
            </div>
		{% endif %}
	</div>
	<div id="version_content" class="col px-3" >
	</div>
</div>