{% extends 'layout.html.twig' %}
{% form_theme form with ['form/selectors.html.twig'] only %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_EDIT') %}
    			<li id="document_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href={{ path('document_new', app.request.attributes.get('_route_params')) }}>{% trans %}New{% endtrans %}</a>
    					<a id="document_edit" class="dropdown-item" href="#" data-url="{{ path('document_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					{% if is_granted('ROLE_MOVE') %}
    						<a id="document_move" class="dropdown-item" href="#" data-url="{{ path('document_move') }}">{% trans %}Move{% endtrans %}</a>
    					{% endif %}
    					<a id="document_delete" class="dropdown-item" href="#" data-url="{{ path('document_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    			
    			<li id="version_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Versions{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a id="version_new" class="dropdown-item" href="#" data-url="{{ path('version_new') }}">{% trans %}New{% endtrans %}</a>
    					<a id="version_edit" class="dropdown-item" href="#" data-url="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					<a id="version_delete" class="dropdown-item" href="#" data-url="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" style="width:150px">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="jumbotron w-100 py-1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            	<a class="nav-link active" id="vues-tab" data-toggle="tab" href="#vues" role="tab" aria-controls="vues" aria-selected="true">{% trans %}Vues{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">{% trans %}Search{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="series-tab" data-toggle="tab" href="#series" role="tab" aria-controls="series" aria-selected="false">{% trans %}Series{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display" aria-selected="false">{% trans %}Display{% endtrans %}</a>
            </li>
        </ul>
		<div class="tab-content pt-1" id="myTabContent">
			<div class="tab-pane fade show active" id="vues" role="tabpanel" aria-labelledby="vues-tab">
    			{{ block('vues') }}
        	</div>
			<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
				{{ block('search') }}
			</div>
			<div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
				{{ block('series') }}
			</div>
			<div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
    			{{ block('display') }}
        	</div>
		</div>
	</div>
	
	{{ form(form) }}
	
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title">{% trans %}Document detail{% endtrans %}</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
    				
    			</div>
    			<div class="modal-footer justify-content-center">
    				<button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="w-100">
    	<table class="table table-sm">
            <thead>
                <tr>
    				<th class="px-0 border-0" style="max-width: 2em;">
                		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">
                			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">
                			<label class="custom-control-label mx-1" for="check_all"></label>
                		</div>
    				</th>
    				{% for column in columns %}
    					{% if column.display %}
    						{% if column.type is constant('App\\Entity\\Metadata::BOOLEAN') or column.type is constant('App\\Entity\\Metadata::LIST')  %}
            					<th>
                					<div class="btn-group w-100" role="group">
                    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
                                            {{ column.name }}
                    					</button>
                    					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_{{ column.target }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    					</button>
                    					<div class="dropdown-menu" aria-labelledby="b_{{ column.target }}">
                    						<div id="{{ column.target }}" class="d-flex flex-row">
                    							
                                            </div>
                    					</div>
                					</div>
                				</th>
    						{% else %}
                				<th class="px-0 border-0">
                					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
                			            {{ column.name }}
                					</button>
                				</th>
    						{% endif %}
    					{% endif %}
    				{% endfor %}
                    <th style="width:200px;"></th>
    			</tr>
            </thead>
    		<tbody>
                {% for version in versions %}
                    <tr>
                    	<td style="max-width: 2em;">
                    		<div class="custom-control custom-checkbox">
                    			<input type="checkbox" id="c{{ version.id }}" class="custom-control-input" unchecked="unchecked" value="{{ version.id }}">
                    			<label class="custom-control-label" for="c{{ version.id }}"></label>
                    		</div>
                    	</td>
                    	
        				{% for codename, column in columns %}
        					{% if column.display %}
        				    	{% set value = version.getPropertyValueToString(codename) %}
            					{% if codename == 'document[reference]' %}
            				    	<td class="type-reference">{{ value }}</td>
	    						{% elseif column.type is constant('App\\Entity\\Metadata::BOOLEAN') %}
	    							<td class="type-boolean">{% if value == "1" %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
								{% elseif column.type is constant('App\\Entity\\Metadata::DATE')  %}
									<td class="type-date">{{ value|date("d-m-Y") }}</td>
								{% elseif column.type is constant('App\\Entity\\Metadata::LINK')  %}
        				    		<td class="type-link"><a href="{{ value }}">{% trans %}Link{% endtrans %}</a></td>
        				    	{% else %}
                                    {% if value matches '/^\\d+$/' %}
                                    	<td class="type-integer">{{ value }}</td>
                				    {% elseif value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                                    	<td class="type-float">{{ value }}</td>
                                    {% else %}
                                    	<td class="type-text">{{ value }}</td>
                                    {% endif %}
        				    	{% endif %}
        				    {% endif %}
        				 {% endfor %}
                        <td>
                            <a class="btn-success btn-sm btn w-100 text-nowrap" data-toggle="modal" data-target="#detail" data-url="{{ path('document_detail', {'id': version.id}) }}">{% trans %}Details{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
            		<tr>
            			<td class="border-0" style="max-width: 2em;"></td>
            			<td class="border-0">{% trans %}Empty list{% endtrans %}</td>
            		</tr>
                {% endfor %}
    		</tbody>
        </table>
        <nav id="page">
            {% if page_max > 1 %}
                {% set page = app.request.get('page')|default(1) %}
                {% set page_min = max(1, page-2) %}
                <ul class="pagination justify-content-center">
                    <li class="page-item{% if page == 1 %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': max(1, page-1)})) }}">
                    		<span aria-hidden="true">&laquo;</span>
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min})) }}">
                    	    {{ page_min }}
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min+1 %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+1})) }}">
                    	    {{ page_min+1 }}
                    	</a>
                    </li>
                    {% if page_max > 2 %}
                    	<a class="page-link{% if page==page_min+2 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+2})) }}">
                    	    {{ page_min+2 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 3 %}
                    	<a class="page-link{% if page==page_min+3 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+3})) }}">
                    	    {{ page_min+3 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 4 %}
                    	<a class="page-link{% if page==page_min+4 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+4})) }}">
                    	    {{ page_min+4 }}
                    	</a>
                    {% endif %}
                    <li class="page-item{% if page == page_max %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': min(page+1, page_max)})) }}">
                    		<span aria-hidden="true">&raquo;</span>
                    	</a>
                    </li>
                </ul>
    		{% endif %}
		</nav>
    </div>
{% endblock %}

{% block vues %}
	<div class="row">
    	
    </div>
{% endblock %}

{% block search %}
	<form method="POST" action="{{ path('document', app.request.attributes.get('_route_params')) }}">
        <div class="row py-3">
        	<label class="col-form-label col-form-label col-1" for="query">{% trans %}Query{% endtrans %}</label>
        	<div class="col-auto">
        		<input class="form-control" type="text" id="query" name="query">
        		<small class="form-text text-muted">{% trans %}Symbol{% endtrans %} {{ current_serie.project.splitter }} {% trans %}must be used as splitter{% endtrans %}</small>
        		<small class="form-text text-muted">{% trans %}The wild-card{% endtrans %} * {% trans %}can be used in place of one or several parameter{% endtrans %}</small>
        	</div>
    		<div class="col-1">
            	<button type="submit" class="btn-primary btn">{% trans %}Filter{% endtrans %}</button>
            </div>
        </div>
	</form>
{% endblock %}

{% block series %}
    <div class="row py-4">
    	<div class="col">
        	{% for serie in series %}
        		{% if (serie.id == current_serie.id) %}
        			<a class="btn btn-lg btn-primary text-white" style="width: 200px;">{{ serie.name }}</a>
        		{% else %}
        			<a class="btn btn-lg btn-outline-primary text-white" href="{{ path('document', {'id': serie.id}) }}" role="button" style="width: 200px;">{{ serie.name }}</a>
        		{% endif %}
        	{% endfor %}
    	</div>
    	<div class="col-auto">
    		<a class="btn btn-primary" href="{{ path('serie', {'project': current_serie.project.id, 'company': current_serie.company.id}) }}" role="button">{% trans %}Manage series{% endtrans %}</a>
    	</div>
    </div>
{% endblock %}

{% block display %}
	<div class="row">
    	{% for key, column in columns %}
    		<a class="btn btn-sm btn-primary text-nowrap col-2 w-100 mx-2 text-left">
        		<div class="custom-control custom-checkbox">
        			<input type="checkbox" id="d_{{ key }}" class="custom-control-input"{% if column.display %} checked="checked"{% endif %} data-value="{{ key }}">
        			<label class="custom-control-label" for="d_{{ key }}">{{ column.name }}</label>
        		</div>
    		</a>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}