{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_EDIT') %}
    			<li id="document_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href={{ path('document_new', app.request.attributes.get('_route_params')) }}>{% trans %}New{% endtrans %}</a>
    					<a id="document_edit" class="dropdown-item" href="#" data-url="{{ path('document_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					{% if is_granted('ROLE_MOVE') %}
    						<a id="document_move" class="dropdown-item" href="#" data-url="{{ path('document_move') }}">{% trans %}Move{% endtrans %}</a>
    					{% endif %}
    					<a id="document_delete" class="dropdown-item" href="#" data-url="{{ path('document_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    			
    			<li id="version_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Versions{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a id="version_new" class="dropdown-item" href="#" data-url="{{ path('version_new') }}">{% trans %}New{% endtrans %}</a>
    					<a id="version_edit" class="dropdown-item" href="#" data-url="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					<a id="version_delete" class="dropdown-item" href="#" data-url="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" style="width:150px">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="jumbotron w-100 py-1">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            	<a class="nav-link active" id="vues-tab" data-toggle="tab" href="#vues" role="tab" aria-controls="vues" aria-selected="true">{% trans %}Vues{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">{% trans %}Search{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="series-tab" data-toggle="tab" href="#series" role="tab" aria-controls="series" aria-selected="false">{% trans %}Series{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display" aria-selected="false">{% trans %}Display{% endtrans %}</a>
            </li>
        </ul>
		<div class="tab-content pt-1" id="myTabContent">
			<div class="tab-pane fade show active" id="vues" role="tabpanel" aria-labelledby="vues-tab">
    			{{ block('vues') }}
        	</div>
			<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
				{{ block('search') }}
			</div>
			<div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
				{{ block('series') }}
			</div>
			<div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
    			{{ block('display') }}
        	</div>
		</div>
	</div>
	<form id="form" method="GET" action="{{ path('document', app.request.attributes.get('_route_params')) }}">
		{{ block('codification') }}
		{{ block('writer') }}
		{{ block('checker') }}
		{{ block('metadata') }}
	</form>

    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title">{% trans %}Document detail{% endtrans %}</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
    				
    			</div>
    			<div class="modal-footer justify-content-center">
    				<button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="w-100">
    	<table class="table table-sm">
            <thead>
                <tr>
    				<th class="px-0 border-0" style="max-width: 2em;">
                		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">
                			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">
                			<label class="custom-control-label mx-1" for="check_all"></label>
                		</div>
    				</th>
    				{% if columns.reference.display %}
        				<th class="px-0 border-0">
        					<div class="btn-group w-100" role="group">
            					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
            						{% trans %}Reference{% endtrans %}
            					</button>
            					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_reference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            					</button>
            					<div class="dropdown-menu" aria-labelledby="b_reference">
            						<div id="reference" class="d-flex flex-row">
            							
                                    </div>
            					</div>
        					</div>
        				</th>
        			{% endif %}
    				{% for column in columns|filter((v, k) => k in ['version', 'name', 'date']) %}
            			{% if column.display %}
            				<th class="px-0 border-0">
            					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
            			            {{ column.name }}
            					</button>
            				</th>
            			{% endif %}
            		{% endfor %}
            		{% for key, column in columns|filter((v, k) => k in ['writer', 'checker', 'approver']) %}
        				{% if column.display %}
            				<th class="px-0 border-0">
            					<div class="btn-group w-100" role="group">
                					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
                                        {{ column.name }}
                					</button>
                					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_{{ key }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                					</button>
                					<div class="dropdown-menu" aria-labelledby="b_{{ key }}">
                						<div id="{{ key }}" class="d-flex flex-row">
                							
                                        </div>
                					</div>
            					</div>
            				</th>
        				{% endif %}
    				{% endfor %}
    				{% for metadata in metadatas %}
    					{% if columns[metadata.id].display %}
        					{% if metadata.isBoolean or metadata.isList %}
                				<th class="px-0 border-0">
                					<div class="btn-group w-100" role="group">
                    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
                                            {{ metadata.name }}
                    					</button>
                    					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_m_{{ metadata.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    					</button>
                    					<div class="dropdown-menu" aria-labelledby="b_m_{{ metadata.id }}">
                    						<div id="m_{{ metadata.id }}" class="d-flex flex-row">
                    							
                                            </div>
                    					</div>
                    				</div>
                				</th>
                			{% else %}
                				<th class="px-0 border-0">
                					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
                                        {{ metadata.name }}
                					</button>
                				</th>
                			{% endif %}
                		{% endif %}
    				{% endfor %}
                    <th style="width:200px;"></th>
    			</tr>
            </thead>
    		<tbody>
                {% for version in versions %}
                    <tr>
                    	<td style="max-width: 2em;">
                    		<div class="custom-control custom-checkbox">
                    			<input type="checkbox" id="c{{ version.id }}" class="custom-control-input" unchecked="unchecked" value="{{ version.id }}">
                    			<label class="custom-control-label" for="c{{ version.id }}"></label>
                    		</div>
                    	</td>
                    	
                    	{% if columns.reference.display %}
                    		<td class="small">{{ version.document.reference }}</td>
                    	{% endif %}
                    	<td class="small">{{ version.name }}</td>
                    	<td class="small">{{ version.document.name }}</td>
                    	<td class="small">{{ version.date|date("d-m-Y") }}</td>
                    	<td class="small">{{ version.writer }}</td>
                    	
        				{% for metadata in metadatas %}
        				    {% set value = version.getPropertyValueToString(metadata) %}
                            {% if metadata.isBoolean %}
        				    	<td class="small text-center">{% if value == "1" %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
                            {% elseif value matches '/^\\d+$/' %}
                            	<td class="small text-center">{{ value }}</td>
        				    {% elseif value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                            	<td class="small text-right">{{ value }}</td>
                            {% else %}
                            	<td class="small text-left text-truncate">{{ value }}</td>
                            {% endif %}
        				 {% endfor %}
                    	
                        <td>
                            <a class="btn-success btn-sm btn w-100 text-nowrap" data-toggle="modal" data-target="#detail" data-url="{{ path('document_detail', {'id': version.id}) }}">{% trans %}Details{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
            		<tr>
            			<td class="border-0" style="max-width: 2em;"></td>
            			<td class="border-0">{% trans %}Empty list{% endtrans %}</td>
            		</tr>
                {% endfor %}
    		</tbody>
        </table>
        <nav id="page">
            {% if page_max > 1 %}
                {% set page = app.request.get('page')|default(1) %}
                {% set page_min = max(1, page-2) %}
                <ul class="pagination justify-content-center">
                    <li class="page-item{% if page == 1 %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': max(1, page-1)})) }}">
                    		<span aria-hidden="true">&laquo;</span>
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min})) }}">
                    	    {{ page_min }}
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min+1 %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+1})) }}">
                    	    {{ page_min+1 }}
                    	</a>
                    </li>
                    {% if page_max > 2 %}
                    	<a class="page-link{% if page==page_min+2 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+2})) }}">
                    	    {{ page_min+2 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 3 %}
                    	<a class="page-link{% if page==page_min+3 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+3})) }}">
                    	    {{ page_min+3 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 4 %}
                    	<a class="page-link{% if page==page_min+4 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+4})) }}">
                    	    {{ page_min+4 }}
                    	</a>
                    {% endif %}
                    <li class="page-item{% if page == page_max %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': min(page+1, page_max)})) }}">
                    		<span aria-hidden="true">&raquo;</span>
                    	</a>
                    </li>
                </ul>
    		{% endif %}
		</nav>
    </div>
{% endblock %}

{% block vues %}
	<div class="row">
    	
    </div>
{% endblock %}

{% block search %}
	<form method="POST" action="{{ path('document', app.request.attributes.get('_route_params')) }}">
        <div class="row py-3">
        	<label class="col-form-label col-form-label col-1" for="query">{% trans %}Query{% endtrans %}</label>
        	<div class="col-auto">
        		<input class="form-control" type="text" id="query" name="query">
        		<small class="form-text text-muted">{% trans %}Symbol{% endtrans %} {{ current_serie.project.splitter }} {% trans %}must be used as splitter{% endtrans %}</small>
        		<small class="form-text text-muted">{% trans %}The wild-card{% endtrans %} * {% trans %}can be used in place of one or several parameter{% endtrans %}</small>
        	</div>
    		<div class="col-1">
            	<button type="submit" class="btn-primary btn">{% trans %}Filter{% endtrans %}</button>
            </div>
        </div>
	</form>
{% endblock %}

{% block series %}
    <div class="row py-4">
    	<div class="col">
        	{% for serie in series %}
        		{% if (serie.id == current_serie.id) %}
        			<a class="btn btn-lg btn-primary text-white" style="width: 200px;">{{ serie.name }}</a>
        		{% else %}
        			<a class="btn btn-lg btn-outline-primary text-white" href="{{ path('document', {'id': serie.id}) }}" role="button" style="width: 200px;">{{ serie.name }}</a>
        		{% endif %}
        	{% endfor %}
    	</div>
    	<div class="col-auto">
    		<a class="btn btn-primary" href="{{ path('serie', {'project': current_serie.project.id, 'company': current_serie.company.id}) }}" role="button">{% trans %}Manage series{% endtrans %}</a>
    	</div>
    </div>
{% endblock %}

{% block display %}
	<div class="row">
    	{% for key, column in columns %}
    		<a class="btn btn-sm btn-primary text-nowrap col-2 w-100 mx-2 text-left">
        		<div class="custom-control custom-checkbox">
        			<input type="checkbox" id="d_{{ key }}" class="custom-control-input"{% if column.display %} checked="checked"{% endif %} data-value="{{ key }}">
        			<label class="custom-control-label" for="d_{{ key }}">{{ column.name }}</label>
        		</div>
    		</a>
        {% endfor %}
    </div>
{% endblock %}

{% block codification %}
    {% set codification_filters = app.request.query.get('c') %}
    {% for codification in codifications %}
        {% if codification.isList %}
            <select class="d-none" name="c[{{ codification.id }}][]" multiple data-title="{{ codification.name }}" data-target="reference" data-full_header="false">
                {% for item in codification.codificationItems %}
                	{% if attribute(codification_filters, codification.id) is defined %}
                	    {% if item.value in attribute(codification_filters, codification.id) %}
        	            	<option selected="selected" value="{{ item.value }}">{{ item.value }}</option>
        	            {% else %}
        	            	<option value="{{ item.value }}">{{ item.value }}</option>
        	            {% endif %}
    	            {% else %}
    	            	<option value="{{ item.value }}">{{ item.value }}</option>
                	{% endif %}
                {% endfor %}
            </select>
    	{% endif %}
    {% endfor %}
{% endblock %}

{% block writer %}
	{% set writer_filters = app.request.query.get('writer') %}
	<select class="d-none" name="writer[]" multiple data-title="{{ columns.writer.name }}" data-target="writer" data-full_header="true">
        {% for writer in writers %}
        	    {% if writer.name in writer_filters %}
	            	<option selected="selected" value="{{ writer.name }}">{{ writer.name }}</option>
	            {% else %}
	            	<option value="{{ writer.name }}">{{ writer.name }}</option>
	            {% endif %}
        {% endfor %}
	</select>
{% endblock %}

{% block checker %}
	{% set checker_filters = app.request.query.get('checker') %}
	<select class="d-none" name="checker[]" multiple data-title="{{ columns.checker.name }}" data-target="checker" data-full_header="true">
        {% for checker in checkers %}
        	    {% if checker.name in checker_filters %}
	            	<option selected="selected" value="{{ checker.name }}">{{ checker.name }}</option>
	            {% else %}
	            	<option value="{{ checker.name }}">{{ checker.name }}</option>
	            {% endif %}
        {% endfor %}
	</select>
{% endblock %}

{% block approver %}
	{% set approver_filters = app.request.query.get('approver') %}
	<select class="d-none" name="approver[]" multiple data-title="{{ columns.approver.name }}" data-target="approver" data-full_header="true">
        {% for approver in checkers %}
        	    {% if approver.name in approver_filters %}
	            	<option selected="selected" value="{{ approver.name }}">{{ approver.name }}</option>
	            {% else %}
	            	<option value="{{ approver.name }}">{{ approver.name }}</option>
	            {% endif %}
        {% endfor %}
	</select>
{% endblock %}

{% block metadata %}
    {% set metadata_filters = app.request.query.get('m') %}
    {% for metadata in metadatas %}
        {% if metadata.isList %}
            <select class="d-none" name="m[{{ metadata.id }}][]" multiple data-title="{{ metadata.name }}" data-target="m_{{ metadata.id }}" data-full_header="true">            
            {% for item in metadata.metadataItems %}
                	{% if attribute(metadata_filters, metadata.id) is defined %}
                	    {% if item.value in attribute(metadata_filters, metadata.id) %}
        	            	<option selected="selected" value="{{ item.value }}">{{ item.value }}</option>
        	            {% else %}
        	            	<option value="{{ item.value }}">{{ item.value }}</option>
        	            {% endif %}
    	            {% else %}
    	            	<option value="{{ item.value }}">{{ item.value }}</option>
                	{% endif %}
                {% endfor %}
            </select>
    	{% elseif metadata.isBoolean %}
            <select class="d-none" class="w-100" name="m[{{ metadata.id }}]" data-title="{{ metadata.name }}" data-target="m_{{ metadata.id }}" data-dropdown="true">
            	<option {% if attribute(metadata_filters, metadata.id) is not defined %} selected="selected"{% endif %} value="">{% trans %}n/a{% endtrans %}</option> 
            	<option{% if attribute(metadata_filters, metadata.id) is defined and attribute(metadata_filters, metadata.id) == 1 %} selected="selected"{% endif %} value="1">{% trans %}True{% endtrans %}</option>
            	<option{% if attribute(metadata_filters, metadata.id) is defined and attribute(metadata_filters, metadata.id) == 0 %} selected="selected"{% endif %} value="0">{% trans %}False{% endtrans %}</option>
            </select>
            {#
    	{% elseif metadata.isDate %}
            <div class="col">
    			<input class="form-control" id="disabledInput" type="date" placeholder="{{ metadata.name }}">
            </div>
            #}
    	{% endif %}
    {% endfor %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}