{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_EDIT') %}
    			<li id="document_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href={{ path('document_new', app.request.attributes.get('_route_params')) }}>{% trans %}New{% endtrans %}</a>
    					<a id="document_edit" class="dropdown-item" href="#" data-link="{{ path('document_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					{% if is_granted('ROLE_MOVE') %}
    						<a id="document_move" class="dropdown-item" href="#" data-link="{{ path('document_move') }}">{% trans %}Move{% endtrans %}</a>
    					{% endif %}
    					<a id="document_delete" class="dropdown-item" href="#" data-link="{{ path('document_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    			
    			<li id="version_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Versions{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a id="version_new" class="dropdown-item" href="#" data-link="{{ path('version_new') }}">{% trans %}New{% endtrans %}</a>
    					<a id="version_edit" class="dropdown-item" href="#" data-link="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</a>
    					<a id="version_delete" class="dropdown-item" href="#" data-link="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</a>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" style="width:150px">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<form class="w-100" id="form" method="get" action="{{ path('document', app.request.attributes.get('_route_params')) }}">
		<div class="jumbotron py-1">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                	<a class="nav-link active" id="vues-tab" data-toggle="tab" href="#vues" role="tab" aria-controls="vues" aria-selected="true">{% trans %}Vues{% endtrans %}</a>
                </li>
                <li class="nav-item">
                	<a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">{% trans %}Search{% endtrans %}</a>
                </li>
                <li class="nav-item">
                	<a class="nav-link" id="series-tab" data-toggle="tab" href="#series" role="tab" aria-controls="series" aria-selected="false">{% trans %}Series{% endtrans %}</a>
                </li>
                <li class="nav-item">
                	<a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display" aria-selected="false">{% trans %}Display{% endtrans %}</a>
                </li>
            </ul>
    		<div class="tab-content pt-1" id="myTabContent">
    			<div class="tab-pane fade show active" id="vues" role="tabpanel" aria-labelledby="vues-tab">
        			{{ block('vues') }}
            	</div>
    			<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
    				{{ block('search') }}
    			</div>
    			<div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
    				{{ block('series') }}
    			</div>
    			<div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
        			{{ block('display') }}
            	</div>
    		</div>
		</div>
		{{ block('codification') }}
		{{ block('metadata') }}
		<input type="hidden" id="hide" name="hide" value="{{ app.request.query.get('hide') }}">
		<input type="hidden" id="versions" name="versions">
		<input type="hidden" id="sortAsc" name="sortAsc" value="{{ app.request.query.get('sortAsc') }}">
		<input type="hidden" id="sortDesc" name="sortDesc" value="{{ app.request.query.get('sortDesc') }}">
		<input type="hidden" id="page" name="page" value="{{ app.request.query.get('page') }}">
	</form>

    <div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title">{% trans %}Document detail{% endtrans %}</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body">
    				
    			</div>
    			<div class="modal-footer justify-content-center">
    				<button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="w-100">
    	<table class="table table-sm">
            <thead>
                <tr>
    				<th class="px-0 border-0" style="max-width: 2em;">
                		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">
                			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">
                			<label class="custom-control-label mx-1" for="check_all"></label>
                		</div>
    				</th>
    				<th class="px-0 border-0">
    					<div class="btn-group w-100" role="group">
        					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
        						{% trans %}Reference{% endtrans %}
        					</button>
        					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_reference" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        					</button>
        					<div class="dropdown-menu" aria-labelledby="b_reference">
        						<div id="reference" class="d-flex flex-row">
        							
                                </div>
        					</div>
    					</div>
    				</th>
    				<th class="px-0 border-0">
    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
    					    {% trans %}Version{% endtrans %}
    					</button>
    				</th>
    				<th class="px-0 border-0">
    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
    					    {% trans %}Name{% endtrans %}
    					</button>
    				</th>
    				<th class="px-0 border-0">
    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
    					    {% trans %}Date{% endtrans %}
    					</button>
    				</th>
    				<th class="px-0 border-0">
    					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
    					    {% trans %}Writer{% endtrans %}
    					</button>
    				</th>
    				{% for metadata in metadatas %}
    					{% if metadata.isBoolean or metadata.isList %}
            				<th class="px-0 border-0">
            					<div class="btn-group w-100" role="group">
                					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0" type="button">
                                        {{ metadata.name }}
                					</button>
                					<button class="btn btn-sm btn-primary dropdown-toggle rounded-0" type="button" id="b_m_{{ metadata.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                					</button>
                					<div class="dropdown-menu" aria-labelledby="b_m_{{ metadata.id }}">
                						<div id="m_{{ metadata.id }}" class="d-flex flex-row">
                							
                                        </div>
                					</div>
                				</div>
            				</th>
            			{% else %}
            				<th class="px-0 border-0">
            					<button class="btn btn-sm btn-primary w-100 text-nowrap rounded-0">
                                    {{ metadata.name }}
            					</button>
            				</th>
            			{% endif %}
    				{% endfor %}
                    <th style="width:200px;"></th>
    			</tr>
            </thead>
    		<tbody>
                {% for version in versions %}
                    <tr>
                    	<td style="max-width: 2em;">
                    		<div class="custom-control custom-checkbox">
                    			<input type="checkbox" id="c{{ version.id }}" class="custom-control-input" unchecked="unchecked" value="{{ version.id }}">
                    			<label class="custom-control-label" for="c{{ version.id }}"></label>
                    		</div>
                    	</td>
                    	<td class="small">{{ version.document.reference }}</td>
                    	<td class="small">{{ version.name }}</td>
                    	<td class="small">{{ version.document.name }}</td>
                    	<td class="small">{{ version.date|date("d-m-Y") }}</td>
                    	<td class="small">{{ version.writer }}</td>
                    	
        				{% for metadata in metadatas %}
        				    {% set value = version.getPropertyValueToString(metadata) %}
                            {% if metadata.isBoolean %}
        				    	<td class="small text-center">{% if value == "1" %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
                            {% elseif value matches '/^\\d+$/' %}
                            	<td class="small text-center">{{ value }}</td>
        				    {% elseif value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                            	<td class="small text-right">{{ value }}</td>
                            {% else %}
                            	<td class="small text-left text-truncate">{{ value }}</td>
                            {% endif %}
        				 {% endfor %}
                    	
                        <td>
                            <a class="btn-success btn-sm btn w-100 text-nowrap" data-toggle="modal" data-target="#detail" data-url="{{ path('document_detail', {'id': version.id}) }}">{% trans %}Details{% endtrans %}</a>
                        </td>
                    </tr>
                {% else %}
            		<tr>
            			<td class="border-0" style="max-width: 2em;"></td>
            			<td class="border-0">{% trans %}Empty list{% endtrans %}</td>
            		</tr>
                {% endfor %}
    		</tbody>
        </table>
        <div id="page">
            {% if page_max > 1 %}
                {% set page = app.request.get('page')|default(1) %}
                {% set page_min = max(1, page-2) %}
                <ul class="pagination justify-content-center">
                    <li class="page-item{% if page == 1 %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': max(1, page-1)})) }}">
                    		<span aria-hidden="true">&laquo;</span>
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min})) }}">
                    	    {{ page_min }}
                    	</a>
                    </li>
                    <li class="page-item{% if page==page_min+1 %} active{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+1})) }}">
                    	    {{ page_min+1 }}
                    	</a>
                    </li>
                    {% if page_max > 2 %}
                    	<a class="page-link{% if page==page_min+2 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+2})) }}">
                    	    {{ page_min+2 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 3 %}
                    	<a class="page-link{% if page==page_min+3 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+3})) }}">
                    	    {{ page_min+3 }}
                    	</a>
                    {% endif %}
                    {% if page_max > 4 %}
                    	<a class="page-link{% if page==page_min+4 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+4})) }}">
                    	    {{ page_min+4 }}
                    	</a>
                    {% endif %}
                    <li class="page-item{% if page == page_max %} disabled{% endif %}">
                    	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': min(page+1, page_max)})) }}">
                    		<span aria-hidden="true">&raquo;</span>
                    	</a>
                    </li>
                </ul>
    		{% endif %}
		</div>
    </div>
{% endblock %}

{% block vues %}
	<div class="row">
    	
    </div>
{% endblock %}

{% block search %}
    <div class="row py-3">
    	<label class="col-form-label col-form-label col-1" for="query">{% trans %}Query{% endtrans %}</label>
    	<div class="col-auto">
    		<input class="form-control" type="text" id="query" name="query">
    		<small class="form-text text-muted">{% trans %}Symbol{% endtrans %} {{ current_serie.project.splitter }} {% trans %}must be used as splitter{% endtrans %}</small>
    		<small class="form-text text-muted">{% trans %}The wild-card{% endtrans %} * {% trans %}can be used in place of one or several parameter{% endtrans %}</small>
    	</div>
		<div class="col-1">
        	<button type="submit" class="btn-primary btn">{% trans %}Filter{% endtrans %}</button>
        </div>
    </div>
{% endblock %}

{% block series %}
    <div class="row py-4">
    	<div class="col">
        	{% for serie in series %}
        		{% if (serie.id == current_serie.id) %}
        			<a class="btn btn-lg btn-primary text-white" style="width: 200px;">{{ serie.name }}</a>
        		{% else %}
        			<a class="btn btn-lg btn-outline-primary text-white" href="{{ path('document', {'id': serie.id}) }}" role="button" style="width: 200px;">{{ serie.name }}</a>
        		{% endif %}
        	{% endfor %}
    	</div>
    	<div class="col-auto">
    		<a class="btn btn-primary" href="{{ path('serie', {'project': current_serie.project.id, 'company': current_serie.company.id}) }}" role="button">{% trans %}Manage series{% endtrans %}</a>
    	</div>
    </div>
{% endblock %}

{% block display %}
	<div class="row">
    	{% for key, column in columns %}
    		<a class="btn btn-sm btn-primary text-nowrap col-2 w-100 mx-2 text-left">
        		<div class="custom-control custom-checkbox">
        			<input type="checkbox" id="d_{{ key }}" class="custom-control-input"{% if column.display %} checked="checked"{% endif %} data-value="{{ key }}">
        			<label class="custom-control-label" for="d_{{ key }}">{{ column.name }}</label>
        		</div>
    		</a>
        {% endfor %}
    </div>
{% endblock %}

{% block codification %}
    {% set codification_filters = app.request.query.get('c') %}
    {% for codification in codifications %}
        {% if codification.isList %}
            <select class="d-none" name="c[{{ codification.id }}][]" multiple data-title="{{ codification.name }}" data-target="reference" data-full_header="false">
                {% for item in codification.codificationItems %}
                	{% if attribute(codification_filters, codification.id) is defined %}
                	    {% if item.value in attribute(codification_filters, codification.id) %}
        	            	<option selected="selected" value="{{ item.value }}">{{ item.value }}</option>
        	            {% else %}
        	            	<option value="{{ item.value }}">{{ item.value }}</option>
        	            {% endif %}
    	            {% else %}
    	            	<option value="{{ item.value }}">{{ item.value }}</option>
                	{% endif %}
                {% endfor %}
            </select>
    	{% endif %}
    {% endfor %}
{% endblock %}

{% block metadata %}
    {% set metadata_filters = app.request.query.get('m') %}
    
    {% for metadata in metadatas %}
        {% if metadata.isList %}
            <select class="d-none" name="m[{{ metadata.id }}][]" multiple data-title="{{ metadata.name }}" data-target="m_{{ metadata.id }}" data-full_header="true">            
            {% for item in metadata.metadataItems %}
                	{% if attribute(metadata_filters, metadata.id) is defined %}
                	    {% if item.value in attribute(metadata_filters, metadata.id) %}
        	            	<option selected="selected" value="{{ item.value }}">{{ item.value }}</option>
        	            {% else %}
        	            	<option value="{{ item.value }}">{{ item.value }}</option>
        	            {% endif %}
    	            {% else %}
    	            	<option value="{{ item.value }}">{{ item.value }}</option>
                	{% endif %}
                {% endfor %}
            </select>
    	{% elseif metadata.isBoolean %}
            <select class="d-none" class="w-100" name="m[{{ metadata.id }}]" data-title="{{ metadata.name }}" data-target="m_{{ metadata.id }}" data-dropdown="true">
            	<option {% if attribute(metadata_filters, metadata.id) is not defined %} selected="selected"{% endif %}>{% trans %}n/a{% endtrans %}</option> 
            	<option{% if attribute(metadata_filters, metadata.id) is defined and attribute(metadata_filters, metadata.id) == 1 %} selected="selected"{% endif %} value="1">{% trans %}True{% endtrans %}</option>
            	<option{% if attribute(metadata_filters, metadata.id) is defined and attribute(metadata_filters, metadata.id) == 0 %} selected="selected"{% endif %} value="0">{% trans %}False{% endtrans %}</option>
            </select>
            {#
    	{% elseif metadata.isDate %}
            <div class="col">
    			<input class="form-control" id="disabledInput" type="date" placeholder="{{ metadata.name }}">
            </div>
            #}
    	{% endif %}
    {% endfor %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}

{% block sortAsc %}
    <svg class="bi bi-arrow-bar-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 10.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 01.708-.708L8 12.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M8 6a.5.5 0 01.5.5V13a.5.5 0 01-1 0V6.5A.5.5 0 018 6zM2 3.5a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
    </svg>
{% endblock %}

{% block sortDesc %}
    <svg class="bi bi-arrow-bar-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.354 5.854a.5.5 0 000-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 10.708.708L8 3.207l2.646 2.647a.5.5 0 00.708 0z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M8 10a.5.5 0 00.5-.5V3a.5.5 0 00-1 0v6.5a.5.5 0 00.5.5zm-4.8 1.6c0-.22.18-.4.4-.4h8.8a.4.4 0 010 .8H3.6a.4.4 0 01-.4-.4z" clip-rule="evenodd"/>
    </svg>
{% endblock %}