{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('document') }}
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_EDIT') %}
    			<li id="document_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href={{ path('document_new', app.request.attributes.get('_route_params')) }}>{% trans %}New{% endtrans %}</a>
    					<button id="document_edit" class="dropdown-item" data-url="{{ path('document_edit') }}">{% trans %}Edit{% endtrans %}</button>
    					{% if is_granted('ROLE_MOVE') %}
    						<button id="document_move" class="dropdown-item" data-url="{{ path('document_move') }}">{% trans %}Move{% endtrans %}</button>
    					{% endif %}
    					<button id="document_delete" class="dropdown-item" data-url="{{ path('document_delete') }}">{% trans %}Delete{% endtrans %}</button>
    				</div>
    			</li>
    			
    			<li id="version_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Versions{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<button id="version_new" class="dropdown-item" data-url="{{ path('version_new') }}">{% trans %}New{% endtrans %}</button>
    					<button id="version_edit" class="dropdown-item" data-url="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</button>
    					<button id="version_delete" class="dropdown-item" data-url="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</button>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" style="width:150px">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div id="tabs" class="jumbotron">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            	<a class="nav-link active" id="vues-tab" data-toggle="tab" href="#vues" role="tab" aria-controls="vues" aria-selected="true">{% trans %}Vues{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">{% trans %}Search{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="series-tab" data-toggle="tab" href="#series" role="tab" aria-controls="series" aria-selected="false">{% trans %}Series{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="display-tab" data-toggle="tab" href="#display" role="tab" aria-controls="display" aria-selected="false">{% trans %}Display{% endtrans %}</a>
            </li>
        </ul>
		<div class="tab-content pt-1 collapse show">
			<div class="tab-pane fade show active" id="vues" role="tabpanel" aria-labelledby="vues-tab">
    			{{ block('vues') }}
        	</div>
			<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
				{{ block('search') }}
			</div>
			<div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">
				{{ block('series') }}
			</div>
			<div class="tab-pane fade" id="display" role="tabpanel" aria-labelledby="display-tab">
    			{{ block('display') }}
        	</div>
		</div>
	</div>
	
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title">{% trans %}Document detail{% endtrans %}</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div class="modal-body" data-toggle="ajax">
    				
    			</div>
    			<div class="modal-footer justify-content-center">
    				<button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div id="table_container" class="table-responsive">
        <table id="table" class="table table-sm" data-url="{{ path('document_table', {'id': app.request.attributes.get('id')}) }}" style="display: none;">
            <colgroup>
                <col style="width: 2em;">
                {% for codename, field in fields %}
    				{% if codename == 'document.reference' %}
    			    	<col class="type-reference">
    				{% elseif codename == 'version.name' %}
    					<col class="type-version">
    				{% elseif codename == 'document.name' %}
    					<col class="type-name">
    				{% elseif field.type is constant('App\\Entity\\Metadata::BOOLEAN') %}
    			    	<col class="type-boolean">
    				{% elseif field.type is constant('App\\Entity\\Metadata::DATE')  %}
    					<col class="type-date">
    				{% elseif field.type is constant('App\\Entity\\Metadata::LINK')  %}
    					<col class="type-link">
    		    	{% else %}
    		    		<col class="type-standard">
    		    	{% endif %}			
                {% endfor %}
                <col style="width: 6em;">
            </colgroup>
            <thead>
                <tr>
        			<th id="checkbox">
                		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">
                			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">
                			<label class="custom-control-label mx-1" for="check_all"></label>
                		</div>
        			</th>
        			{% for codename, field in fields %}
    					{% if codename == 'document.reference' %}
    				    	{% set data_class = "type-reference" %}
						{% elseif field.type is constant('App\\Entity\\Metadata::BOOLEAN') %}
							{% set data_class = "type-boolean" %}
						{% elseif field.type is constant('App\\Entity\\Metadata::DATE')  %}
							{% set data_class = "type-date" %}
						{% elseif field.type is constant('App\\Entity\\Metadata::LINK')  %}
				    		{% set data_class = "type-link" %}
				    	{% else %}
				    		{% set data_class = null %}
				    	{% endif %}
        			
    					<th id="{{ field.id }}" data-title="{{ field.title }}" data-sort="{% if field.sort %}true{% else %}false{% endif %}">
    						{% if field.form is defined %}
        						{% form_theme field.form with ['form/select.html.twig'] only %}	
    					        {{ form(field.form) }}
                            {% endif %}
    					</th>
        			{% endfor %}
                    <th id="detail" style="width:200px;"></th>
        		</tr>
            </thead>
            <tbody>
            
        	</tbody>
        </table>
    </div>
    
    <nav id="pagination">
    
    </nav>
{% endblock %}

{% block vues %}
    <div class="row py-2">
    	<div class="col">
        	{% for vue in vues %}
        		<button type="button" class="btn btn-primary m-1" data-value="{{ vue.id }}">{{ vue.name }}</button>
        	{% endfor %}
    	</div>
    	<div class="col-auto">
    		<button type="button" id="vue_new" class="btn btn-primary" data-url="{{ path('vue_new', app.request.query.all|merge({'id': app.request.attributes.get('id') })) }}" role="button">{% trans %}New vue{% endtrans %}</button>
    	</div>
    </div>
{% endblock %}

{% block search %}
	<form method="POST" action="{{ path('document', app.request.attributes.get('_route_params')) }}">
        <div class="row pt-2">
        	<label class="col-form-label col-form-label col-1" for="query">{% trans %}Query{% endtrans %}</label>
        	<div class="col-auto">
        		<input class="form-control form-control-sm" type="text" id="query" name="query">
        		<small class="form-text text-muted">{% trans %}Symbol{% endtrans %} {{ project.splitter }} {% trans %}must be used as splitter{% endtrans %}</small>
        		<small class="form-text text-muted">{% trans %}The wild-card{% endtrans %} * {% trans %}can be used in place of one or several parameter{% endtrans %}</small>
        	</div>
    		<div class="col-1">
            	<button type="submit" class="btn-primary btn">{% trans %}Filter{% endtrans %}</button>
            </div>
        </div>
	</form>
{% endblock %}

{% block series %}
    <div class="row py-2">
    	<div class="col">
        	{% for serie in series %}
        		<a class="btn btn-outline-primary text-white m-1" href="{{ path('document', {'id': serie.id}) }}" role="button">{{ serie.name }}</a>
        	{% endfor %}
    	</div>
    	<div class="col-auto">
    		<a class="btn btn-primary" href="{{ path('serie', {'id': project.id, 'company': company.id}) }}" role="button">{% trans %}Manage series{% endtrans %}</a>
    	</div>
    </div>
{% endblock %}

{% block display %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}
