{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('document') }}
    {{ parent() }}
{% endblock %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand text-center navbar-dark bg-primary">
        {{ block('nav') }}
    </nav>
    <main class="mt-3">
        <div id="content" class="d-flex flex-column align-items-center">
            {{ block('content') }}
    	</div>
	</main>
{% endblock %}

{% block nav_item %}
	width: 200px;
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_EDIT_DOCUMENTS') and app.user in project.users) %}
    			<li id="document_menu" class="nav-item dropdown" style="{{ block('nav_item') }}">
    				<a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Documents{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					{% if currentSerie is not null %}
    						<button id="document_new" class="dropdown-item" data-toggle="modal" data-url={{ path('document_new', {'serie': currentSerie.id}) }}>{% trans %}New{% endtrans %}</button>
    					{% endif %}
    					<button id="document_edit" class="dropdown-item" data-toggle="modal" data-url="{{ path('document_edit') }}">{% trans %}Edit{% endtrans %}</button>
    					<button id="document_move" class="dropdown-item" data-toggle="modal" data-url="{{ path('document_move') }}">{% trans %}Move{% endtrans %}</button>
    					<button id="document_delete" class="dropdown-item" data-toggle="modal" data-url="{{ path('document_delete') }}">{% trans %}Delete{% endtrans %}</button>
    				</div>
    			</li>
    			
    			<li id="version_menu" class="nav-item dropdown" style="{{ block('nav_item') }}">
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Versions{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<button id="version_new" class="dropdown-item" data-toggle="modal" data-url="{{ path('version_new') }}">{% trans %}New{% endtrans %}</button>
    					<button id="version_edit" class="dropdown-item" data-toggle="modal" data-url="{{ path('version_edit') }}">{% trans %}Edit{% endtrans %}</button>
    					<button id="version_delete" class="dropdown-item" data-toggle="modal" data-url="{{ path('version_delete') }}">{% trans %}Delete{% endtrans %}</button>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item" style="{{ block('nav_item') }}">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div id="tabs" class="jumbotron">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            	<a class="nav-link active" id="vues-tab" data-toggle="tab" href="#vues_panel" role="tab" aria-controls="vues_panel" aria-selected="true">{% trans %}Vues{% endtrans %}</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" id="search-tab" data-toggle="tab" href="#search_panel" role="tab" aria-controls="search_panel" aria-selected="false">{% trans %}Search{% endtrans %}</a>
            </li>
            {% if currentCompany is not null %}
                <li class="nav-item">
                	<a class="nav-link" id="series-tab" data-toggle="tab" href="#series_panel" role="tab" aria-controls="series_panel" aria-selected="false">{% trans %}Series{% endtrans %}</a>
                </li>
			{% endif %}
            <li class="nav-item">
            	<a class="nav-link" id="display-tab" data-toggle="tab" href="#display_panel" role="tab" aria-controls="display_panel" aria-selected="false">{% trans %}Display{% endtrans %}</a>
            </li>
        </ul>
		<div class="tab-content pt-1 collapse show">
			<div class="tab-pane fade show active" id="vues_panel" role="tabpanel" aria-labelledby="vues-tab">
    			{{ block('vues') }}
        	</div>
			<div class="tab-pane fade" id="search_panel" role="tabpanel" aria-labelledby="search-tab">
				{{ block('search') }}
			</div>
			{% if currentCompany is not null %}
    			<div class="tab-pane fade" id="series_panel" role="tabpanel" aria-labelledby="series-tab">
    				{{ block('series') }}
    			</div>
			{% endif %}
			<div class="tab-pane fade" id="display_panel" role="tabpanel" aria-labelledby="display-tab">
    			{{ block('display') }}
        	</div>
		</div>
	</div>
    
    <div id="toast">
    	
    </div>

    <div id="modal_container" class="modal fade" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    		<div id="modal" class="modal-content">
				
    		</div>
    	</div>
    </div>
    
    <div id="modal_detail_container" class="modal fade" role="dialog" aria-hidden="true">
    	<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    		<div class="modal-content">
    			<div class="modal-header">
    				<h5 class="modal-title">{% trans %}Document detail{% endtrans %}</h5>
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    			</div>
    			<div id="modal_detail" class="modal-body">
    				
    			</div>
    			<div class="modal-footer justify-content-center">
    				<button id="modal_detail_close" type="button" class="btn btn-secondary w-25" data-dismiss="modal">Close</button>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div id="table_container" class="table-responsive" data-url="{{ path('document_fields', app.request.attributes.get('_route_params')) }}">
    	<div id="spinner">
    	</div>
        <table id="table" class="table table-sm" data-url="{{ path('document_table', app.request.attributes.get('_route_params')) }}" style="display: none;">
        
{#             <thead>#}
{#                 <tr>#}
{#         			<th id="checkbox">#}
{#                 		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">#}
{#                 			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">#}
{#                 			<label class="custom-control-label mx-1" for="check_all"></label>#}
{#                 		</div>#}
{#         			</th>#}
        			
{#                     <th id="detail"></th>#}
{#         		</tr>#}
{#             </thead>#}
            <tbody>
            
        	</tbody>
        </table>
        
        <nav id="pagination">
        
        </nav>
    </div>
{% endblock %}

{% block vues %}
    <div class="row p-2">
    	<div id ="vues" class="col px-2" data-url="{{ path('vue', {'project': project.id}) }}">
    	
    	</div>
    	<div class="col-auto">
    		<button id="vue_new" type="button" class="btn btn-primary m-1" data-url="{{ path('vue_new', app.request.query.all|merge({'project': project.id})) }}" role="button">{% trans %}New vue{% endtrans %}</button>
    	</div>
    </div>
{% endblock %}

{% block search %}
    <div class="row pt-2">
    	<label class="col-form-label col-form-label col-1" for="query">{% trans %}Query{% endtrans %}</label>
    	<div class="col-auto">
        	<div class="input-group input-group-sm">
        		<input class="form-control form-control-sm" type="text">
    			<div class="input-group-append">
    				<a type="button" class="btn btn-light border-left-0 border text-primary">
                        <span>&times;</span>
                    </a>
    			</div>
			</div>
    		<small class="form-text text-muted">{% trans %}Symbol{% endtrans %} {{ project.splitter }} {% trans %}must be used as splitter{% endtrans %}</small>
    		<small class="form-text text-muted">{% trans %}The wild-card{% endtrans %} * {% trans %}can be used in place of one or several parameter{% endtrans %}</small>
    	</div>
		<div class="col-1">
        	<button type="button" class="btn-primary btn">{% trans %}Filter{% endtrans %}</button>
        </div>
	</div>
{% endblock %}

{% block series %}
    {% if currentCompany is not null %}
        <div class="row p-2">
        	<div class="col px-2">
            	{% for serie in series %}
            		{% if currentSerie == serie %}
            			{% set class="btn btn-outline-primary m-1" %}
            		{% else %}
            			{% set class="btn btn-primary m-1" %}
            		{% endif %}
            		<a class="{{ class }}" href="{{ path('document', {'project': project.id, 'type': serie.type, 'serie': serie.id}) }}" role="button">{{ serie.name }}</a>
            	{% endfor %}
        	</div>
        	{% if is_granted('ROLE_CONTROLLER') and app.user in project.users %}
            	<div class="col-auto">
            		<a class="btn btn-primary m-1" href="{{ path('serie', {'project': project.id, 'company': currentCompany.id}) }}" role="button">{% trans %}Manage series{% endtrans %}</a>
            	</div>
        	{% endif %}
        </div>
	{% endif %}
{% endblock %}

{% block display %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('document') }}
{% endblock %}
