<table class="table table-sm">
    <thead>
        <tr>
			<th class="px-0 border-0" style="max-width: 2em;">
        		<div class="btn-group custom-control custom-checkbox btn btn-sm btn-primary rounded-0">
        			<input type="checkbox" id="check_all" class="custom-control-input" unchecked="unchecked">
        			<label class="custom-control-label mx-1" for="check_all"></label>
        		</div>
			</th>
			{% for column in columns %}
				{% if column.display %}
					<th id="{{ column.id }}" data-title="{{ column.title }}" data-sort="{% if column.sort %}true{% else %}false{% endif %}">
						{% if column.form is defined %}
    						{% form_theme column.form with ['form/select.html.twig'] only %}	
					        {{ form(column.form) }}
                        {% endif %}
					</th>
				{% endif %}
			{% endfor %}
            <th style="width:200px;"></th>
		</tr>
    </thead>
	<tbody>
        {% for version in versions %}
            <tr>
            	<td style="max-width: 2em;">
            		<div class="custom-control custom-checkbox">
            			<input type="checkbox" id="c{{ version.id }}" class="custom-control-input" unchecked="unchecked" value="{{ version.id }}">
            			<label class="custom-control-label" for="c{{ version.id }}"></label>
            		</div>
            	</td>
            	
				{% for codename, column in columns %}
					{% if column.display %}
				    	{% set value = version.getPropertyValueToString(codename) %}
    					{% if codename == 'document[reference]' %}
    				    	<td class="type-reference">{{ value }}</td>
						{% elseif column.type is constant('App\\Entity\\Metadata::BOOLEAN') %}
							<td class="type-boolean">{% if value == "1" %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</td>
						{% elseif column.type is constant('App\\Entity\\Metadata::DATE')  %}
							<td class="type-date">{{ value|date("d-m-Y") }}</td>
						{% elseif column.type is constant('App\\Entity\\Metadata::LINK')  %}
				    		<td class="type-link"><a href="{{ value }}">{% trans %}Link{% endtrans %}</a></td>
				    	{% else %}
                            {% if value matches '/^\\d+$/' %}
                            	<td class="type-integer">{{ value }}</td>
        				    {% elseif value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                            	<td class="type-float">{{ value }}</td>
                            {% else %}
                            	<td class="type-text">{{ value }}</td>
                            {% endif %}
				    	{% endif %}
				    {% endif %}
				 {% endfor %}
                <td>
                    <a class="btn-success btn-sm btn w-100 text-nowrap" data-toggle="modal" data-target="#detail" data-url="{{ path('document_detail', {'id': version.id}) }}">{% trans %}Details{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
    		<tr>
    			<td class="border-0" style="max-width: 2em;"></td>
    			<td class="border-0">{% trans %}Empty list{% endtrans %}</td>
    		</tr>
        {% endfor %}
	</tbody>
</table>
<nav id="page">
    {% if page_max > 1 %}
        {% set page = app.request.get('page')|default(1) %}
        {% set page_min = max(1, page-2) %}
        <ul class="pagination justify-content-center">
            <li class="page-item{% if page == 1 %} disabled{% endif %}">
            	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': max(1, page-1)})) }}">
            		<span aria-hidden="true">&laquo;</span>
            	</a>
            </li>
            <li class="page-item{% if page==page_min %} active{% endif %}">
            	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min})) }}">
            	    {{ page_min }}
            	</a>
            </li>
            <li class="page-item{% if page==page_min+1 %} active{% endif %}">
            	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+1})) }}">
            	    {{ page_min+1 }}
            	</a>
            </li>
            {% if page_max > 2 %}
            	<a class="page-link{% if page==page_min+2 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+2})) }}">
            	    {{ page_min+2 }}
            	</a>
            {% endif %}
            {% if page_max > 3 %}
            	<a class="page-link{% if page==page_min+3 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+3})) }}">
            	    {{ page_min+3 }}
            	</a>
            {% endif %}
            {% if page_max > 4 %}
            	<a class="page-link{% if page==page_min+4 %} active{% endif %}" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': page_min+4})) }}">
            	    {{ page_min+4 }}
            	</a>
            {% endif %}
            <li class="page-item{% if page == page_max %} disabled{% endif %}">
            	<a class="page-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'id': current_serie.id, 'page': min(page+1, page_max)})) }}">
            		<span aria-hidden="true">&raquo;</span>
            	</a>
            </li>
        </ul>
	{% endif %}
</nav>