{% extends 'layout.html.twig' %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
			<li class="nav-item" style="{{ block('nav_item') }}">
				<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
			</li>
			{% if is_granted('ROLE_EDITOR') %}
				<li class="nav-item dropdown" style="{{ block('nav_item') }}">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Project admin{% endtrans %}</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="{{ path('fileNew', app.request.attributes.get('_route_params')) }}">{% trans %}Edit project{% endtrans %}</a>
						<a class="dropdown-item" href="{{ path('fileEdit', app.request.attributes.get('_route_params')) }}">{% trans %}Codification{% endtrans %}</a>
						{% if is_granted('ROLE_MOVE') %}
							<a class="dropdown-item" href="{{ path('file_move', app.request.attributes.get('_route_params')) }}">{% trans %}Metadatas{% endtrans %}</a>
						{% endif %}
						<a class="dropdown-item" href="{{ path('fileDelete', app.request.attributes.get('_route_params')) }}">{% trans %}Visas{% endtrans %}</a>
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse "></div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			{{ block('logout') }}
		</ul>
	</div>
{% endblock %}

{% block content %}
	<table class="table table-responsive-xl">
		<thead>
			<tr class="text-center">
				<th>{% trans %}Reference{% endtrans %}</th>
				<th>{% trans %}Version{% endtrans %}</th>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Date{% endtrans %}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for version in versions %}
				<tr>
					<td class="col-xl-auto">{{ version.file.reference }}</td>
					<td class="col-xl-auto">{{ version.name }}</td>
					<td class="col-xl-auto">{{ version.file.name }}</td>
					<td class="col-xl-auto">{{ version.date }}</td>
					<td style="width:200px;">
						<a class="btn-success btn w-100 text-nowrap" href="#">{% trans %}Details{% endtrans %}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td>{% trans %}Empty list{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}