{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="text-{{ label }}">{{ message|trans }}.</div>
	{% endfor %}
{% endfor %}

{% if redirect == 'launch' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_launch', app.request.query.all|merge({'id': automation.id})) }}" data-target="#output"></a>
{% elseif redirect == 'console' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_console', app.request.query.all|merge({'id': automation.id})) }}" data-target="#console" data-add="true"></a>
{% elseif redirect == 'completed' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_completed', app.request.query.all|merge({'id': automation.id})) }}" data-target="#output"></a>
{% endif %}