{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="text-{{ label }}">{{ message }}.</div>
	{% endfor %}
{% endfor %}

{% if redirect == 'launch' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_launch', {'automation': automation.id}) }}" data-target="#output"></a>
{% elseif redirect == 'console' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_console', {'automation': automation.id}) }}" data-target="#console"></a>
{% elseif redirect == 'completed' %}
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_completed', {'automation': automation.id}) }}" data-target="#output"></a>
{% endif %}