{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block nav %}
    {% if route_back is defined %}
        <div class="navbar-collapse" style="{{ block('nav_item') }}">
        	<ul class="navbar-nav mr-auto ">
        		{% if route_back is defined %}
            		<li class="nav-item" style="{{ block('nav_item') }}">
            			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
            		</li>
        		{% endif %}
        	</ul>
        </div>
    {% else %}
    	<div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
    {% endif %}
    <div class="navbar-collapse navbar-brand justify-content-center">
        
    </div>
    <div class="navbar-collapse" style="{{ block('nav_item') }}"></div>
{% endblock %}

{% block content %}
    <div class="row w-100">
        <div id="output" class="col-6" data-toggle="ajax" data-url="{{ absolute_url(path('automation_launch', {'id': automation.id})) }}">
        
        </div>
        <div id="console" class="jumbotron py-3 col-6 overflow-auto h-100" data-url="{{ absolute_url(path('automation_console')) }}">
        
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}