{% if form is defined %}

	{% form_theme form 'ajax/layout.html.twig' %}
	
	{{ form_start(form) }}
		{% for child in form|filter(child => not child.rendered) %}
			{{ form_row(child) }}
		{% endfor %}
	
		<div class="row justify-content-md-center">
			<button type="submit" class="btn btn-primary w-25 m-1" data-toggle="ajax" data-url="{{ app.request.uri }}" data-target="#output">{% trans %}Launch{% endtrans %}</button>
		</div>
	{{ form_end(form) }}

{% else %}
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">{% trans %}Loading...{% endtrans %}</span>
		</div>
	</div>
	<a class="active" data-toggle="ajax" data-url="{{ path('automation_console', app.request.query.all|merge({'id': automation.id})) }}" data-target="#console" data-add="true"></a>
	
{% endif %}