{% extends 'layout.html.twig' %}

{% set display_serie_select = series|length > 1 and project is defined and company is defined %}
{% set display_serie_new = series is empty and project is defined and company is defined %}

{% block stylesheets %}
	{{ encore_entry_link_tags('engineering') }}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div id="engineering" {{ stimulus_controller('engineering--main', {'urlHeader': path('engineering_thead', {'project': project.id}), 'urlBody': path('engineering_tbody', {'project': project.id})}) }}>
		{{ parent() }}
	</div>
{% endblock %}

{% block header %}
	{{ parent() }}
	{{ include('pages/engineering/index/_header.html.twig') }}
{% endblock %}

{% block navbar %}
	{{ include('navbar/_engineering.html.twig') }}
{% endblock %}

{% block main %}

		<turbo-frame id="table" class="table-responsive nav-shown mb-4" {{ stimulus_target('engineering--main', 'table') }}>
			<table class="table table-sm table-hover table-active">
				<thead id="thead" {{ stimulus_target('engineering--main', 'thead') }}>
				</thead>
				<tbody id="tbody" {{ stimulus_target('engineering--main', 'tbody') }}>
					
				</tbody>
			</table>
		</turbo-frame>

{% endblock %}

{% block footer %}
	{{ include('pages/engineering/index/_footer.html.twig') }} #}
	{{ parent() }}
{% endblock %}

{% block xl_modal %}
	{% if display_serie_new is same as(true) %}
		{% include "modal/xl_modal.html.twig" with {'src': path('serie_new', {'project': project.id, 'company': company.id})} %}
	{% elseif display_serie_select is same as(true) %}
		{% include "modal/xl_modal.html.twig" with {'src': path('serie_select', {'project': project.id, 'id': series|map(v => v.id)})} %}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}