{% extends 'layout.html.twig' %}

{% block title %}
    {{ app_name }}
{% endblock %}

{% block nav %}
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto ">
    		{% if route_back is defined %}
        		<li class="nav-item" style="{{ block('nav_item') }}">
        			<a class="nav-link" href="{{ route_back }}">{% trans %}Back{% endtrans %}</a>
        		</li>
    		{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
    			<li class="nav-item dropdown" style="{{ block('nav_item') }}">
    				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Project admin{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					<a class="dropdown-item" href="{{ path('project_edit', app.request.attributes.get('_route_params')) }}">{% trans %}Edit project{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('codification', app.request.attributes.get('_route_params')) }}">{% trans %}Codification{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('metadata', app.request.attributes.get('_route_params')) }}">{% trans %}Metadatas{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('status', app.request.attributes.get('_route_params')) }}">{% trans %}Statuses{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('visa', app.request.attributes.get('_route_params')) }}">{% trans %}Visas{% endtrans %}</a>
    					<a class="dropdown-item" href="{{ path('automation', app.request.attributes.get('_route_params')) }}">{% trans %}Automation{% endtrans %}</a>
    				</div>
    			</li>
    		{% endif %}
		</ul>
	</div>
	<div class="navbar-collapse ">
        {% trans %}Projects{% endtrans %}
	</div>
	<div class="navbar-collapse">
		<ul class="navbar-nav ml-auto">
			<li id="automation_menu" class="nav-item dropdown" style="{{ block('nav_item') }};">
			    {% if is_granted('ROLE_ADMIN') and automations is not empty %}
    				<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}Automations{% endtrans %}</a>
    				<div class="dropdown-menu" style="{{ block('nav_item') }}">
    					{% for automation in automations %}
    						<a class="dropdown-item" href="{{ path('automation_console', {'id': automation.id}) }}">{{ automation.name }}</a>
    					{% endfor %}
    				</div>
			    {% endif %}
			</li>
			<li class="nav-item" style="width:150px">
				<a class="nav-link" href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a>
			</li>
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="jumbotron w-100">
		<ul class="nav nav-tabs mb-3" role="tablist">
    		<li class="nav-item">
    			<a class="nav-link active" id="companies-tab" data-toggle="tab" href="#companies" role="tab" aria-controls="companies" aria-selected="false">{% trans %}Companies{% endtrans %}</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-link" id="mainContractors-tab" data-toggle="tab" href="#mainContractors" role="tab" aria-controls="home" aria-selected="true">{% trans %}Main contractors{% endtrans %}</a>
    		</li>
    	</ul>
		<div class="tab-content" id="myTabContent"> 
			<div class="tab-pane fade show active" id="companies" role="tabpanel" aria-labelledby="companies-tab">
				<div class="row">
            		{% for sub_contractor in sub_contractors %}
                        <div class="card text-white bg-primary m-3" style="width: 20rem;">
                            <a role="button" class="btn btn-primary text-center font-weight-bold" href="{{ path('serie_route', {'id': app.request.attributes.get('_route_params')|first, 'company': sub_contractor.id}) }}">{{ sub_contractor.name }}</a>
                            <div class="card-body">
                                <p class="card-text"></p>
            				</div>
                    	</div>
                    {% else %}
                		<div class="col pt-5">{% trans %}Empty list{% endtrans %}</div>
                    {% endfor %}
                </div>
			</div>
			<div class="tab-pane fade" id="mainContractors" role="tabpanel" aria-labelledby="mainContractors-tab">
        		<div class="row">
                    {% for main_contractor in main_contractors %}
                        <div class="card text-white bg-primary m-3" style="width: 20rem;">
                            <a role="button" class="btn btn-primary text-center font-weight-bold" href="{{ path('serie_route', {'id': app.request.attributes.get('_route_params')|first, 'company': main_contractor.id}) }}">{{ main_contractor.name }}</a>
                            <div class="card-body">
                                <p class="card-text"></p>
            				</div>
                    	</div>
                    {% else %}
                		<div class="col pt-5">{% trans %}Empty list{% endtrans %}</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}